@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --size-1440: 1440px;
    --color-primary: #7A00F5;
    --color-secondary: #2C0057;   
    --color-tertiary: #86DFFF;
    --color-quaternary: #EFF7FF;
    --color-quinary: #c9c9c9;
} 
  
.outfit-header {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
 
.outfit-body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.link {
    position: relative;
    text-decoration: none;
}

.link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2.5px;
    background-color: var(--color-tertiary);
}

em {
    color: var(--color-1e003d);
    font-style: normal;
    font-weight: 500;
}
  

/* * {
    border: solid 0.1px black;
} */

.home {
    background-image: url(../content/picture-1.jpg);
    background-size: cover;
    background-position: bottom;
}

.hide {
    display: none;
}

.popup {
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 500px;
    background-color: var(--color-f6f6f6);
    z-index: 1000;

    .close-btn {
        position: absolute;
        top: -10px;
        right: 20px;
        font-size: 60px;
        cursor: pointer;
        color: var(--color-1accef);
    }
}
