@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-primary: #7a00f5;
  --color-quaternary: #eff7ff;
  --color-quinary: #cc9cff;
  --color-secondary: #2c0057;
  --color-tertiary: #86dfff;

  --size-1440: 1440px;
}

.hide {
  display: none;
}

.outfit-header {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

.outfit-body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.link {
  position: relative;
  text-decoration: none;
}

.link:hover::after {
  background-color: var(--color-tertiary);
  bottom: -2px;
  content: "";
  height: 2.5px;
  left: 0;
  position: absolute;
  width: 100%;
}

.popup {
  background-color: var(--color-f6f6f6);
  height: 100%;
  position: fixed;
  right: 0%;
  top: 0%;
  width: 500px;
  z-index: 1000;

  .close-btn {
    color: var(--color-1accef);
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    right: 20px;
    top: -10px;
  }
}

.shadow {
  box-shadow: rgba(134, 223, 255, 1) 7.5px 7.5px;
}

body {
  background-color: #fcfaff;
}

em {
  color: var(--color-secondary);
  font-style: normal;
  font-weight: 500;
}

.home {
  background-image: url(../../content/pictures/picture-1.jpg);
  background-position: bottom;
  background-size: cover;
}
