<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumton - Accueil</title>
    <link href="../dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body class="outfit-body w-(--size-1440) m-auto bg-(--color-f6f6f6)">
    <header class="flex justify-between items-center py-2">
        <a href="../views/index.html"><img src="../content/logo.webp" alt="" class="header-img"></a>
        <nav class="flex items-center gap-8">
            <ul class="flex gap-4">
                <li><a href="#home" class="link">Accueil</a></li>
                <li><a href="#concept" class="link">Concept</a></li>
                <li><a href="#calendar" class="link">Agenda</a></li>
                <li><a href="#volunteer" class="link">Devenir bénévole</a></li>
            </ul>
            <ul class="flex gap-4">
                <li><a id="sign-in-btn" class="bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)" href="./portals/runner/dashboard-runner.html">Se connecter</a></li>
                <li><a id="sign-up-btn" class="bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">S'inscrire</a></li>
            </ul>
            <div id="popup" class="hide popup shadow-xl">
                <span class="close-btn" id="close-btn">&times;</span>
                <div id="sign-in" class="hide flex flex-col justify-center h-full p-8 gap-8">
                    <div class="flex flex-col gap-2">
                        <h2 class="outfit-header text-3xl text-(--color-00bfff)">Connexion</h2>
                        <p>Veuillez entrez vos informations pour vous connecter.</p>
                    </div>
                    <form action="controller" method="post" class="flex flex-col gap-2 w-full">
                        <label for="email">E-mail*</label>
                        <input type="email" name="email" id="email" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" placeholder="john.doe@exemple.com" required>
                        <label for="password">Mot de passe*</label>
                        <input type="password" name="password" id="password" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" required>
                        <a id="forgotten-password-btn" class="link w-fit">Mot de passe oublié ?</a>
                        <input type="submit" name="send" id="send" value="Envoyer" class="w-fit bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">
                    </form>
                </div>
                <div id="forgotten-password" class="hide flex flex-col justify-center h-full p-8 gap-8">
                    <div class="flex flex-col gap-2">
                        <h2 class="outfit-header text-3xl text-(--color-00bfff)">Mot de passe oublié ?</h2>
                        <p>Veuillez entrez votre e-mail. Un lien vous sera envoyé afin de réinitialiser votre mot de passe.</p>
                    </div>
                    <form action="controller" method="post" class="flex flex-col gap-2 w-full">
                        <label for="email">E-mail*</label>
                        <input type="email" name="email" id="email" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" placeholder="john.doe@exemple.com" required>
                        <input type="submit" name="send" id="send" value="Envoyer" class="w-fit bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">
                    </form>
                </div>
                <div id="new-password" class="hide flex flex-col justify-center h-full p-8 gap-8">
                    <div class="flex flex-col gap-2">
                        <h2 class="outfit-header text-3xl text-(--color-00bfff)">Réinitialisation du mot de passe</h2>
                        <p>Veuillez définir un nouveau mot de passe.</p>
                    </div>
                    <form action="controller" method="post" class="flex flex-col gap-2 w-full">
                        <label for="password">Mot de passe*</label>
                        <input type="password" name="password" id="password" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" required>
                        <label for="password">Confirmation du mot de passe*</label>
                        <input type="password" name="password" id="password" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" required>
                        <input type="submit" name="send" id="send" value="Envoyer" class="w-fit bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">
                    </form>
                </div>
                <div id="sign-up" class="hide flex flex-col justify-center h-full p-8 gap-8">
                    <div class="flex flex-col gap-2">
                        <h2 class="outfit-header text-3xl text-(--color-00bfff)">Inscription</h2>
                        <p>Veuillez entrez vos informations pour vous inscrire.</p>
                    </div>
                    <form action="controller" method="post" class="flex flex-col gap-2 w-full">
                        <label for="nickname">Pseudonyme*</label>
                        <input type="text" name="nickname" id="nickname" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" placeholder="john00" required>
                        <label for="firstname">Prénom*</label>
                        <input type="text" name="firstname" id="firstname" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" placeholder="John" required>
                        <label for="lastname">Nom*</label>
                        <input type="text" name="lastname" id="lastname" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" placeholder="Doe" required>
                        <label for="sex">Sexe*</label>
                        <select id="sex" name="sex" class="border p-2 border-[#cccccc] rounded-sm focus:outline-2 focus:outline-(--color-00bfff)" required>
                            <option value="" selected disabled hidden>Sélectionner une valeur</option>
                            <option value="man">Homme</option>
                            <option value="woman">Femme</option>
                            <option value="undefined">Indeterminé</option>
                        </select>
                        <label for="birthdate">Date de naissance*</label>
                        <input type="date" name="birthdate" id="birthdate" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" placeholder="Doe" required>
                        <label for="email">E-mail*</label>
                        <input type="email" name="email" id="email" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" placeholder="john.doe@exemple.com" required>
                        <label for="email">Confirmation de l'e-mail*</label>
                        <input type="email" name="email" id="email" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" placeholder="john.doe@exemple.com" required>
                        <label for="password">Mot de passe*</label>
                        <input type="password" name="password" id="password" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" required>
                        <label for="password">Confirmation du mot de passe*</label>
                        <input type="password" name="password" id="password" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)" required>
                        <input type="submit" name="send" id="send" value="Envoyer" class="w-fit bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex flex-col gap-8">
        <section id="home" class="home flex flex-col items-center gap-8 py-32 text-(--color-fefefe)">
            <p class="text-lg">Venez vivre l'expérience unique de la Color Run dans votre ville.</p>
            <h1 class="outfit-header text-3xl">Rejoignez une explosion de couleurs, de fun et d'énergie !</h1>
            <p class="w-2xl text-center text-lg">La Color Run, c'est bien plus qu'une course : c'est une fête où chaque kilomètre devient un arc-en-ciel
                de bonheur. Que vous soyez coureur aguerri ou amateur de bonne humeur, vous êtes au bon endroit.</p>
            <div class="flex gap-4">
                <a class="bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-2 border-(--color-00bfff) hover:border-2 hover:border-(--color-fefefe) hover:text-(--color-fefefe)" href="runs.html">Découvrir les courses</a>
                <a class="bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-2 border-(--color-00bfff) hover:border-2 hover:border-(--color-fefefe) hover:text-(--color-fefefe)">Inscrivez-vous maintenant</a>
            </div>
        </section>

        <section id="concept" class="flex flex-col items-center gap-10 py-10">
            <h2 class="outfit-header text-2xl text-(--color-f92a82)">Découvrez le concept de la Color Run</h2>
            <div class="flex items-center gap-10">
                <img src="../content/picture-2.jpg" alt="" class="w-[500px] rounded-sm">
                <div class="flex flex-col gap-4 text-lg">
                    <p class="w-xl">La Color Run, c'est une <em>course festive et accessible à tous</em>, où le chrono n'a aucune importance.
                        Laissez-vous emporter par une vague de couleurs à chaque kilomètre et terminez l'épreuve dans une
                        ambiance de fête. <em>Une seule règle : porter du blanc au départ et finir complètement coloré !</em></p>
                        <h3 class="outfit-header text-xl text-(--color-f92a82)">Pourquoi participer ?<h3>
                        <ul class="flex flex-col gap-1">
                            <li>Une ambiance <em>fun</em> et <em>conviviale</em>.</li>
                            <li>Aucune pression, juste du <em>plaisir</em>.</li>
                            <li><em>Accessible</em> à tous les âges et niveaux.</li>
                        </ul>
                </div>
            </div>
        </section>

        <section id="calendar" class="flex flex-col items-center gap-10 py-10">
            <h2 class="outfit-header text-2xl text-(--color-f92a82)">Nos prochaines étapes colorées</h2>
            <p class="w-xl text-center text-lg">La Color Run voyage dans toute la France ! Voici les villes où nous poserons nos valises prochainement :
            </p>
            <div class="flex gap-8">
                <div class="flex flex-col items-left gap-2">
                    <img src="../content/picture-3.jpg" alt="" class="size-[300px] rounded-sm">
                    <p class="text-lg text-(--color-f92a82)">Lyon : Dim. 12 mai 2025</p>
                    <a href="#" class="w-fit bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">Participer</a>
                </div>
                <div class="flex flex-col items-left gap-2">
                    <img src="../content/picture-4.jpg" alt="" class="size-[300px] rounded-sm">
                    <p class="text-lg text-(--color-f92a82)">Bordeaux : Sam. 8 juin 2025</p>
                    <a href="#" class="w-fit bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">Participer</a>
                </div>
                <div class="flex flex-col items-left gap-2">
                    <img src="../content/picture-5.jpg" alt="" class="size-[300px] rounded-sm">
                    <p class="text-lg text-(--color-f92a82)">Paris : Dim. 22 sept. 2025</p>
                    <a href="#" class="w-fit bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">Participer</a>
                </div>
            </div>
            <a href="runs.html" class="link">Voir plus d'événements</a>
        </section>

        <section id="join" class="flex justify-center gap-10 py-10">
            <img src="../content/picture-6.jpg" alt="" class="w-[500px] rounded-sm">
            <div class="flex flex-col gap-3 text-lg w-3xl h-px">
                <h2 class="outfit-header text-2xl text-(--color-f92a82)">Rejoignez l'aventure !</h2>
                <p>Prêt à vivre une expérience unique ? <em>Inscrivez-vous en quelques clics</em> et préparez-vous à une journée
                    mémorable. Voici ce que vous recevez en participant :
                <ul>
                    <li>Un <em>kit de bienvenue</em> comprenant un t-shirt blanc officiel, un dossard, et des sacs de poudre
                        colorée.</li>
                    <li>Une <em>médaille souvenir</em> pour célébrer votre exploit.</li>
                    <li>L'accès à l'<em>after-party</em>, où musique et couleurs seront au rendez-vous.</li>
                </ul>
                Alors, qu'attendez-vous ? Faites partie des milliers de coureurs qui partagent cette aventure incroyable
                !
                </p>
                <a class="w-fit bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">S'inscrire maintenant</a>
            </div>
        </section>

        <section id="volunteer" class="flex justify-center gap-6 p-6">
            <div class="flex flex-col gap-3 text-lg w-3xl h-px">
                <h2 class="outfit-header text-2xl text-(--color-f92a82)">Devenez un héros de la Color Run</h2>
                <p>Envie de faire partie de l'envers du décor ? <em>Rejoignez notre équipe</em> de bénévoles et <em>participez à
                    l'organisation</em> d'un événement inoubliable ! En tant que bénévole, vous pourrez :
                <ul>
                    <li>Accueillir et guider les participants.</li>
                    <li>Animer les zones colorées et assurer une ambiance de folie.</li>
                    <li>Distribuer des kits ou des rafraîchissements.</li>
                    <li>Partager des moments uniques avec l'équipe et les coureurs.</li>
                </ul></p>
                <p>
                En échange, <em>vous vivrez une expérience enrichissante</em> et recevrez un kit souvenir pour votre engagement. Merci de votre aide précieuse !
                </p>
                <a class="w-fit bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">Rejoindre l'équipe bénévole</a>
            </div>
            <img src="../content/picture-7.jpg" alt="" class="w-[500px] rounded-sm">
        </section>
    </main>

    <footer class="flex flex-col items-center gap-8 p-6">
        <div class="w-full flex justify-between items-center pt-8">
            <img src="../content/logo.webp" alt="" class="header-img">
            <div class="flex gap-8">
                <nav class="flex flex-col gap-3">
                    <h3>Liens utiles</h3>
                    <ul class="flex flex-col gap-1">
                        <li><a href="#" class="link">A propos</a></li>
                        <li><a href="#" class="link">FAQ</a></li>
                        <li><a href="#" class="link">Nous contacter</a></li>
                        <li><a href="#" class="link">Mentions légales</a></li>
                    </ul>
                </nav>
                <div class="flex flex-col gap-2">
                    <a href=""><img src="../content/instagram-logo.png" alt="" class="size-[30px]"></a>
                    <a href=""><img src="../content/facebook-logo.png" alt="" class="size-[30px]"></a>
                    <a href=""><img src="../content/twitter-logo.png" alt="" class="size-[30px]"></a>
                    <a href=""><img src="../content/youtube-logo.png" alt="" class="size-[30px]"></a>
                </div>
                <div class="flex flex-col gap-3 w-md">
                    <form action="#" method="post" class="flex flex-col gap-2">
                        <label for="email">Inscrivez-vous à notre newsletter pour recevoir les dernières actualités et offres
                            exclusives</label>
                        <div class="flex flex-col gap-2">
                            <input type="email" name="email" placeholder="john.doe@example.com" class="border p-2 border-[#cccccc] rounded-sm focus-visible:outline-2 focus-visible:outline-(--color-00bfff)">
                            <input type="submit" value="S'inscrire" class="w-fit bg-(--color-00bfff) px-3 py-2 rounded-sm text-(--color-fefefe) cursor-pointer border-1 border-(--color-fefefe) hover:bg-transparent hover:border-1 hover:border-(--color-00bfff) hover:text-(--color-00bfff)">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p>2025 © Color Run. Tous droits réservés.</p>
    </footer>
    <script src="../js/main.js"></script>
</body>

</html>