<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rumton - Tableau de bord</title>
  <link href="../../../dist/output.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../css/main.css">
</head>

<body class="outfit-body w-(--size-1440) m-auto flex flex-col justify-between h-screen">
  <header class="flex justify-between items-center py-2">
    <a href="../../../views/index.html"><img src="../../../content/logo.svg" alt="Logo de l'application Rumton"
        class="w-[100px]"></a>
    <nav class="flex items-center">
      <ul class="flex gap-8">
        <li><a href="../../../views/index.html" class="link">Accueil</a></li>
        <li><a href="" class="link">Toutes les courses</a></li>
        <li><a href="" class="link">Mon compte</a></li>
        <li><a href="" class="link">Devenir organisateur</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="flex gap-6 py-2">
      <nav class="flex justify-center h-[400px] rounded-sm px-8 py-12 bg-(--color-quaternary)">
        <ul class="flex flex-col justify-between">
          <div class="flex flex-col gap-8">
            <li class="flex items-center gap-2 text-(--color-secondary)"><img src="../../../content/board-icon.svg" alt=""
                class="size-[20px]"><a href="" class="link text-lg">Mon tableau de bord</a></li>
            <li class="flex items-center gap-2 text-(--color-secondary)"><img src="../../../content/runner-icon.svg" alt=""
                class="size-[20px]"><a href="" class="link text-lg">Mes participations</a></li>
            <li class="flex items-center gap-2 text-(--color-secondary)"><img src="../../../content/user-icon.svg" alt=""
                class="size-[20px]"><a href="" class="link text-lg">Mes informations</a></li>
          </div>
          <li class="flex items-center gap-2 text-(--color-secondary)"><img src="../../../content/logout-icon.svg" alt=""
              class="size-[20px]"><a href="" class="link text-lg">Se déconnecter</a></li>
        </ul>
      </nav>

      <div class="flex flex-col gap-6">
        <div class="flex gap-6">
          <section class="flex flex-col rounded-sm p-12 gap-8 justify-between bg-(--color-quaternary)">
            <h2 class="outfit-header text-xl text-(--color-primary)">Mes prochaines participations</h2>
            <div class="flex justify-between gap-10">
              <div class="flex flex-col gap-2 p-4">
                <img src="../../../content/exemple-carte.png" alt=""
                  class="w-[200px] h-[200px] rounded-sm outline-2 outline-(--color-quinary)">
                <div class="flex flex-col gap-2">
                  <h3 class="text-xl font-bold text-(--color-secondary) uppercase">Run in Lyon</h3>
                  <ul class="flex flex-col gap-1">
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/calendar-icon.svg" alt=""
                        class="size-[20px]">18
                      août 2025</li>
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/location-icon.svg" alt=""
                        class="size-[20px]">Lyon, France</li>
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/distance-icon.svg" alt=""
                        class="size-[20px]">35.7
                      km</li>
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/organism-icon.svg" alt=""
                        class="size-[20px]">Médecins sans frontières</li>
                    <li><a href="" class="link text-(--color-primary) flex w-fit items-center font-medium">En savoir
                        plus<img src="../../../content/right-arrow-icon.svg" alt="" class="size-[20px]"></a></li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <img src="../../../content/exemple-carte.png" alt=""
                  class="w-[200px] h-[200px] rounded-sm outline-2 outline-(--color-quinary)">
                <div class="flex flex-col gap-2">
                  <h3 class="text-xl font-bold text-(--color-secondary) uppercase">Run in Lyon</h3>
                  <ul class="flex flex-col gap-1">
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/calendar-icon.svg" alt=""
                        class="size-[20px]">18
                      août 2025</li>
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/location-icon.svg" alt=""
                        class="size-[20px]">Lyon, France</li>
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/distance-icon.svg" alt=""
                        class="size-[20px]">35.7
                      km</li>
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/organism-icon.svg" alt=""
                        class="size-[20px]">Médecins sans frontières</li>
                    <li><a href="" class="link text-(--color-primary) flex w-fit items-center font-medium">En savoir
                        plus<img src="../../../content/right-arrow-icon.svg" alt="" class="size-[20px]"></a></li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <img src="../../../content/exemple-carte.png" alt=""
                  class="w-[200px] h-[200px] rounded-sm outline-2 outline-(--color-quinary)">
                <div class="flex flex-col gap-2">
                  <h3 class="text-xl font-bold text-(--color-secondary) uppercase">Run in Lyon</h3>
                  <ul class="flex flex-col gap-1">
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/calendar-icon.svg" alt=""
                        class="size-[20px]">18
                      août 2025</li>
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/location-icon.svg" alt=""
                        class="size-[20px]">Lyon, France</li>
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/distance-icon.svg" alt=""
                        class="size-[20px]">35.7
                      km</li>
                    <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/organism-icon.svg" alt=""
                        class="size-[20px]">Médecins sans frontières</li>
                    <li><a href="" class="link text-(--color-primary) flex w-fit items-center font-medium">En savoir
                        plus<img src="../../../content/right-arrow-icon.svg" alt="" class="size-[20px]"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <a href="" class="link flex w-fit items-center font-medium text-(--color-primary)">Voir toutes mes
              participations<img src="../../../content/right-arrow-icon.svg" alt="" class="size-[20px]"></a>
          </section>

          <section class="flex flex-col text-center rounded-sm p-13 gap-8 bg-(--color-quaternary)">
            <h2 class="outfit-header text-xl text-(--color-primary)">Mes statistiques</h2>
            <ul class="flex flex-col gap-4">
              <div>
                <li><em class="text-3xl">5</em></li>
                <li class="text-sm">courses réalisées</li>
              </div>
              <div>
                <li><em class="text-3xl">17</em></li>
                <li class="text-sm">courses likées</li>
              </div>
              <div>
                <li><em class="text-3xl">6</em></li>
                <li class="text-sm">Plus haute place</li>
              </div>
              <div>
                <li><em class="text-3xl">5</em></li>
                <li class="text-sm">villes visitées</li>
              </div>
              <div>
                <li><em class="text-3xl">5</em></li>
                <li class="text-sm">organismes soutenus</li>
              </div>
              <div>
                <li><em class="text-3xl">104.2</em></li>
                <li class="text-sm">km parcourus</li>
              </div>
            </ul>
          </section>
        </div>

        <section class="flex flex-col rounded-sm p-12 gap-8 justify-between bg-(--color-quaternary)">
          <h2 class="outfit-header text-xl text-(--color-primary)">Les courses près de chez moi !</h2>
          <div class="flex justify-between gap-10">
            <div class="flex flex-col gap-2 p-4">
              <img src="../../../content/exemple-carte.png" alt=""
                class="w-[200px] h-[200px] rounded-sm outline-2 outline-(--color-quinary)">
              <div class="flex flex-col gap-2">
                <h3 class="text-xl font-bold text-(--color-secondary) uppercase">Run in Lyon</h3>
                <ul class="flex flex-col gap-1">
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/calendar-icon.svg" alt=""
                      class="size-[20px]">18
                    août 2025</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/location-icon.svg" alt=""
                      class="size-[20px]">Lyon, France</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/distance-icon.svg" alt=""
                      class="size-[20px]">35.7
                    km</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/organism-icon.svg" alt=""
                      class="size-[20px]">Médecins sans frontières</li>
                  <li><a href="" class="link text-(--color-primary) flex w-fit items-center font-medium">En savoir
                      plus<img src="../../../content/right-arrow-icon.svg" alt="" class="size-[20px]"></a></li>
                </ul>
              </div>
            </div>
            <div class="flex flex-col gap-2 p-4">
              <img src="../../../content/exemple-carte.png" alt=""
                class="w-[200px] h-[200px] rounded-sm outline-2 outline-(--color-quinary)">
              <div class="flex flex-col gap-2">
                <h3 class="text-xl font-bold text-(--color-secondary) uppercase">Run in Lyon</h3>
                <ul class="flex flex-col gap-1">
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/calendar-icon.svg" alt=""
                      class="size-[20px]">18
                    août 2025</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/location-icon.svg" alt=""
                      class="size-[20px]">Lyon, France</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/distance-icon.svg" alt=""
                      class="size-[20px]">35.7
                    km</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/organism-icon.svg" alt=""
                      class="size-[20px]">Médecins sans frontières</li>
                  <li><a href="" class="link text-(--color-primary) flex w-fit items-center font-medium">En savoir
                      plus<img src="../../../content/right-arrow-icon.svg" alt="" class="size-[20px]"></a></li>
                </ul>
              </div>
            </div>
            <div class="flex flex-col gap-2 p-4">
              <img src="../../../content/exemple-carte.png" alt=""
                class="w-[200px] h-[200px] rounded-sm outline-2 outline-(--color-quinary)">
              <div class="flex flex-col gap-2">
                <h3 class="text-xl font-bold text-(--color-secondary) uppercase">Run in Lyon</h3>
                <ul class="flex flex-col gap-1">
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/calendar-icon.svg" alt=""
                      class="size-[20px]">18
                    août 2025</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/location-icon.svg" alt=""
                      class="size-[20px]">Lyon, France</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/distance-icon.svg" alt=""
                      class="size-[20px]">35.7
                    km</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/organism-icon.svg" alt=""
                      class="size-[20px]">Médecins sans frontières</li>
                  <li><a href="" class="link text-(--color-primary) flex w-fit items-center font-medium">En savoir
                      plus<img src="../../../content/right-arrow-icon.svg" alt="" class="size-[20px]"></a></li>
                </ul>
              </div>
            </div>
            <div class="flex flex-col gap-2 p-4">
              <img src="../../../content/exemple-carte.png" alt=""
                class="w-[200px] h-[200px] rounded-sm outline-2 outline-(--color-quinary)">
              <div class="flex flex-col gap-2">
                <h3 class="text-xl font-bold text-(--color-secondary) uppercase">Run in Lyon</h3>
                <ul class="flex flex-col gap-1">
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/calendar-icon.svg" alt=""
                      class="size-[20px]">18
                    août 2025</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/location-icon.svg" alt=""
                      class="size-[20px]">Lyon, France</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/distance-icon.svg" alt=""
                      class="size-[20px]">35.7
                    km</li>
                  <li class="flex gap-2 text-(--color-secondary)"><img src="../../../content/organism-icon.svg" alt=""
                      class="size-[20px]">Médecins sans frontières</li>
                  <li><a href="" class="link text-(--color-primary) flex w-fit items-center font-medium">En savoir
                      plus<img src="../../../content/right-arrow-icon.svg" alt="" class="size-[20px]"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <a href="" class="link flex w-fit items-center font-medium text-(--color-primary)">Voir toutes les
            courses<img src="../../../content/right-arrow-icon.svg" alt="" class="size-[20px]"></a>
        </section>
      </div>
  </main>

  <footer class="flex flex-col items-center py-8">
    <div class="w-full flex justify-between items-center">
      <img src="../../../content/logo.svg" alt="" class="w-[100px]">
      <div class="flex gap-8">
        <nav>
          <ul class="flex flex-col gap-2">
            <li><a href="../../../views/index.html" class="link">Accueil</a></li>
            <li><a href="" class="link">Toutes les courses</a></li>
            <li><a href="" class="link">Mon compte</a></li>
            <li><a href="" class="link">Devenir organisateur</a></li>
          </ul>
        </nav>
        <div class="flex flex-col gap-2">
          <a href=""><img src="../../../content/instagram-logo.png" alt="" class="size-[25px]"></a>
          <a href=""><img src="../../../content/facebook-logo.png" alt="" class="size-[25px]"></a>
          <a href=""><img src="../../../content/twitter-logo.png" alt="" class="size-[25px]"></a>
          <a href=""><img src="../../../content/youtube-logo.png" alt="" class="size-[25px]"></a>
        </div>
      </div>
    </div>
    <p>2025 © Color Run. Tous droits réservés.</p>
  </footer>
  <script src="../js/main.js"></script>
</body>

</html>