<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rumton - Accueil</title>
    <link href="../../dist/output.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />
  </head>

  <body
    class="m-auto min-h-screen outfit-body text-(--color-secondary) max-w-(--size-1440) px-4 max-lg:text-sm"
  >
    <header class="flex items-center justify-between py-4">
      <a href="./index.html"
        ><img
          alt="Logo de l'application Rumton"
          class="w-[100px] max-lg:w-[90px]"
          src="../../content/logos/logo.svg"
      /></a>
      <nav class="flex gap-8 items-center">
        <ul class="flex gap-4 web-navbar">
          <li><a class="link" href="#home">Accueil</a></li>
          <li><a class="link" href="#concept">Concept</a></li>
          <li><a class="link" href="#calendar">Agenda</a></li>
          <li><a class="link" href="#volunteer">Devenir bénévole</a></li>
          <li><a class="link" href="./dashboard.html">Mon compte</a></li>
        </ul>
        <ul class="flex gap-4 web-navbar">
          <li>
            <a
              class="bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary)"
              id="sign-in-btn"
              >Se connecter</a
            >
          </li>
          <li>
            <a
              class="sign-up-btn bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary)"
              >S'inscrire</a
            >
          </li>
        </ul>
        <div class="hidden mobile-navbar">
          <div class="menu inline-block relative">
            <button
              id="menu-btn"
              class="py-4 px-6 inline-flex items-center w-fit font-medium text-(--color-primary)"
            >
              Menu
              <img
                alt="Icône du bouton 'Retour'"
                class="size-[20px] rotate-90"
                src="../../content/icons/arrow-icon.svg"
              />
            </button>
            <ul
              class="menu-content absolute right-0 bg-(--color-senary) rounded-sm shadow-lg hide"
              id="menu-content"
            >
              <li>
                <a
                  class="rounded-t hover:bg-gray-100 py-4 px-6 block text-nowrap"
                  href="#home"
                  >Accueil</a
                >
              </li>
              <li>
                <a
                  class="hover:bg-gray-100 py-4 px-6 block text-nowrap"
                  href="#concept"
                  >Concept</a
                >
              </li>
              <li>
                <a
                  class="rounded-b hover:bg-gray-100 py-4 px-6 block text-nowrap"
                  href="#calendar"
                  >Agenda</a
                >
              </li>
              <li>
                <a
                  class="rounded-b hover:bg-gray-100 py-4 px-6 block text-nowrap"
                  href="#volunteer"
                  >Devenir bénévole</a
                >
              </li>
              <li>
                <a
                  class="rounded-b hover:bg-gray-100 py-4 px-6 block text-nowrap"
                  id="mobile-sign-in-btn"
                  >Se connecter</a
                >
              </li>
              <li>
                <a
                  class="rounded-b hover:bg-gray-100 py-4 px-6 block text-nowrap"
                  id="mobile-sign-up-btn"
                  >S'inscrire</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="hide popup shadow-xl px-8 py-12" id="popup">
        <span class="close-btn" id="close-btn">&times;</span>
        <div
          class="flex flex-col gap-8 hide items-center justify-center"
          id="sign-in"
        >
          <div class="flex flex-col gap-2 items-center">
            <h2
              class="outfit-header text-3xl text-(--color-primary) max-lg:text-2xl"
            >
              Connexion
            </h2>
            <p>Veuillez entrez vos informations pour vous connecter.</p>
          </div>
          <form action="" class="flex flex-col gap-4 w-full" method="post">
            <div class="flex flex-col gap-2">
              <label for="email">E-mail*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="email"
                name="email"
                placeholder="john.doe@exemple.com"
                required
                type="email"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="password">Mot de passe*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="password"
                name="password"
                required
                type="password"
              />
            </div>
            <a class="link w-fit" id="forgotten-password-btn"
              >Mot de passe oublié ?</a
            >
            <input
              class="bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
              id="send"
              name="send"
              type="submit"
              value="Envoyer"
            />
          </form>
        </div>
        <div
          class="flex flex-col gap-8 hide items-center justify-center"
          id="forgotten-password"
        >
          <div class="flex flex-col gap-2 items-center">
            <h2
              class="outfit-header text-3xl text-(--color-primary) max-lg:text-2xl"
            >
              Mot de passe oublié ?
            </h2>
            <p class="max-lg:text-center">
              Veuillez entrez votre e-mail. Un lien vous sera envoyé afin de
              réinitialiser votre mot de passe.
            </p>
          </div>
          <form action="" class="flex flex-col gap-4 w-full" method="post">
            <div class="flex flex-col gap-2">
              <label for="email">E-mail*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="email"
                name="email"
                placeholder="john.doe@exemple.com"
                required
                type="email"
              />
            </div>
            <input
              class="bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
              id="send"
              name="send"
              type="submit"
              value="Envoyer"
            />
          </form>
        </div>
        <div
          class="flex flex-col gap-8 hide items-center justify-center"
          id="new-password"
        >
          <div class="flex flex-col gap-2 items-center">
            <h2
              class="outfit-header text-3xl text-(--color-primary) max-lg:text-2xl"
            >
              Réinitialisation du mot de passe
            </h2>
            <p>Veuillez définir un nouveau mot de passe.</p>
          </div>
          <form action="" class="flex flex-col gap-4 w-full" method="post">
            <div class="flex flex-col gap-2">
              <label for="password">Mot de passe*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="password"
                name="password"
                required
                type="password"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="password-check">Confirmation du mot de passe*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="password-check"
                name="password-check"
                required
                type="password"
              />
            </div>
            <input
              class="bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
              id="send"
              name="send"
              type="submit"
              value="Envoyer"
            />
          </form>
        </div>
        <div
          class="flex flex-col gap-8 hide items-center justify-center"
          id="sign-up"
        >
          <div class="flex flex-col gap-2 items-center">
            <h2
              class="outfit-header text-3xl text-(--color-primary) max-lg:text-2xl"
            >
              Inscription
            </h2>
            <p>Veuillez entrez vos informations pour vous inscrire.</p>
          </div>
          <form action="" class="flex flex-col gap-4 w-full" method="post">
            <div class="flex flex-col gap-2">
              <label for="nickname">Pseudonyme*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="nickname"
                name="nickname"
                placeholder="john00"
                required
                type="text"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="firstname">Prénom*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="firstname"
                name="firstname"
                placeholder="John"
                required
                type="text"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="lastname">Nom*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="lastname"
                name="lastname"
                placeholder="Doe"
                required
                type="text"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="sex">Sexe*</label>
              <select
                class="focus:outline-2 focus:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="sex"
                name="sex"
                required
              >
                <option disabled hidden selected value="">
                  Sélectionner une valeur
                </option>
                <option value="1">Homme</option>
                <option value="2">Femme</option>
                <option value="3">Indeterminé</option>
              </select>
            </div>
            <div class="flex flex-col gap-2">
              <label for="birthdate">Date de naissance*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="birthdate"
                name="birthdate"
                placeholder="Doe"
                required
                type="date"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="zip">Code postal*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="zip"
                name="zip"
                placeholder="69007"
                required
                type="number"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="email">E-mail*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="email"
                name="email"
                placeholder="john.doe@exemple.com"
                required
                type="email"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="email-check">Confirmation de l'e-mail*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="email-check"
                name="email-check"
                placeholder="john.doe@exemple.com"
                required
                type="email"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="password">Mot de passe*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="password"
                name="password"
                required
                type="password"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="password-check">Confirmation du mot de passe*</label>
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="password-check"
                name="password-check"
                required
                type="password"
              />
            </div>
            <input
              class="bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
              id="send"
              name="send"
              type="submit"
              value="Envoyer"
            />
          </form>
        </div>
      </div>
    </header>

    <main class="flex flex-col gap-8 max-sm:text-center">
      <section
        class="home flex flex-col items-center gap-8 py-32 rounded-sm shadow text-(--color-senary) text-center px-2"
        id="home"
      >
        <p class="text-lg max-lg:text-base">
          Venez vivre l'expérience unique de la Color Run dans votre ville.
        </p>
        <h1 class="outfit-header text-3xl max-lg:text-2xl">
          Rejoignez une explosion de couleurs, de fun et d'énergie !
        </h1>
        <p class="text-lg w-2xl max-lg:text-base max-lg:w-xl max-sm:w-full">
          La Color Run, c'est bien plus qu'une course : c'est une fête où chaque
          kilomètre devient un arc-en-ciel de bonheur. Que vous soyez coureur
          aguerri ou amateur de bonne humeur, vous êtes au bon endroit.
        </p>
        <div class="flex gap-4 max-sm:flex-col">
          <a
            class="bg-(--color-primary) border-2 border-(--color-primary) cursor-pointer hover:border-2 hover:border-(--color-senary) hover:text-(--color-senary) px-3 py-2 rounded-sm text-(--color-senary)"
            href="./runs.html"
            >Découvrir les courses</a
          >
          <a
            class="sign-up-btn bg-(--color-primary) border-2 border-(--color-primary) cursor-pointer hover:border-2 hover:border-(--color-senary) hover:text-(--color-senary) px-3 py-2 rounded-sm text-(--color-senary)"
            >Inscrivez-vous maintenant</a
          >
        </div>
      </section>
      <section class="flex flex-col items-center gap-10 py-10" id="concept">
        <h2
          class="outfit-header text-2xl text-(--color-primary) max-lg:text-xl"
        >
          Découvrez le concept de la Color Run
        </h2>
        <div class="flex gap-10 items-center max-sm:flex-col">
          <img
            alt="Photo d'illustration de la Color Run"
            class="rounded-sm shadow w-[500px] max-lg:w-[400px]"
            src="../../content/pictures/picture-2.webp"
          />
          <div class="flex flex-col gap-4 text-lg max-lg:text-base">
            <p class="lg:w-xl">
              La Color Run, c'est une
              <em>course festive et accessible à tous</em>, où le chrono n'a
              aucune importance. Laissez-vous emporter par une vague de couleurs
              à chaque kilomètre et terminez l'épreuve dans une ambiance de
              fête.
              <em
                >Une seule règle : porter du blanc au départ et finir
                complètement coloré !</em
              >
            </p>
            <h3
              class="outfit-header text-xl text-(--color-primary) max-lg:text-lg"
            >
              Pourquoi participer ?
            </h3>
            <ul class="flex flex-col gap-2">
              <li>Une ambiance <em>fun</em> et <em>conviviale</em>.</li>
              <li>Aucune pression, juste du <em>plaisir</em>.</li>
              <li><em>Accessible</em> à tous les âges et niveaux.</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="flex flex-col items-center gap-10 py-10" id="calendar">
        <h2
          class="outfit-header text-2xl text-(--color-primary) max-lg:text-xl"
        >
          Nos prochaines étapes colorées
        </h2>
        <p
          class="text-center text-lg w-xl max-lg:text-base max-lg:w-lg max-sm:w-full"
        >
          La Color Run voyage dans toute la France ! Voici les villes où nous
          poserons nos valises prochainement :
        </p>
        <div class="flex gap-10 max-sm:flex-col">
          <div class="flex flex-col gap-2 items-left max-sm:items-center">
            <img
              alt="Photo de la ville de Lyon"
              class="rounded-sm shadow size-[300px] max-lg:size-[200px]"
              src="../../content/pictures/picture-3.webp"
            />
            <p class="text-lg max-lg:text-base">Lyon : Dim. 12 mai 2025</p>
            <a
              class="bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
              href="../general/runs.html"
              >Participer</a
            >
          </div>
          <div class="flex flex-col gap-2 items-left max-sm:items-center">
            <img
              alt="Photo de la ville de Bordeaux"
              class="rounded-sm shadow size-[300px] max-lg:size-[200px]"
              src="../../content/pictures/picture-4.webp"
            />
            <p class="text-lg max-lg:text-base">Bordeaux : Sam. 8 juin 2025</p>
            <a
              class="bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
              href="../general/runs.html"
              >Participer</a
            >
          </div>
          <div class="flex flex-col gap-2 items-left max-sm:items-center">
            <img
              alt="Photo de la ville de Paris"
              class="rounded-sm shadow size-[300px] max-lg:size-[200px]"
              src="../../content/pictures/picture-5.webp"
            />
            <p class="text-lg max-lg:text-base">Paris : Dim. 22 sept. 2025</p>
            <a
              class="bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
              href="../general/runs.html"
              >Participer</a
            >
          </div>
        </div>
        <a class="link text-(--color-primary)" href="../general/runs.html"
          >Consulter plus d'événements</a
        >
      </section>
      <section
        class="flex gap-10 justify-center py-10 items-center max-sm:flex-col"
        id="join"
      >
        <img
          alt=""
          class="rounded-sm shadow w-[500px] max-lg:w-[400px]"
          src="../../content/pictures/picture-6.webp"
        />
        <div
          class="flex flex-col gap-3 text-lg w-3xl max-lg:text-base max-lg:w-2xl max-sm:w-full max-sm:items-center"
        >
          <h2
            class="outfit-header text-2xl text-(--color-primary) max-lg:text-xl"
          >
            Rejoignez l'aventure !
          </h2>
          <p>
            Prêt à vivre une expérience unique ?
            <em>Inscrivez-vous en quelques clics</em> et préparez-vous à une
            journée mémorable. Voici ce que vous recevez en participant :
          </p>
          <ul>
            <li>
              Un <em>kit de bienvenue</em> comprenant un t-shirt blanc officiel,
              un dossard, et des sacs de poudre colorée.
            </li>
            <li>Une <em>médaille souvenir</em> pour célébrer votre exploit.</li>
            <li>
              L'accès à l'<em>after-party</em>, où musique et couleurs seront au
              rendez-vous.
            </li>
          </ul>
          <p>
            Alors, qu'attendez-vous ? Faites partie des milliers de coureurs qui
            partagent cette aventure incroyable !
          </p>
          <a
            class="sign-up-btn bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
            >S'inscrire maintenant</a
          >
        </div>
      </section>
      <section
        class="flex gap-10 justify-center py-10 items-center max-sm:flex-col-reverse"
        id="volunteer"
      >
        <div
          class="flex flex-col gap-3 text-lg w-3xl max-lg:text-base max-lg:w-2xl max-sm:w-full max-sm:items-center"
        >
          <h2
            class="outfit-header text-2xl text-(--color-primary) max-lg:text-xl"
          >
            Devenez un héros de la Color Run
          </h2>
          <p>
            Envie de faire partie de l'envers du décor ?
            <em>Rejoignez notre équipe</em> de bénévoles et
            <em>participez à l'organisation</em> d'un événement inoubliable ! En
            tant que bénévole, vous pourrez :
          </p>
          <ul>
            <li>Accueillir et guider les participants.</li>
            <li>Animer les zones colorées et assurer une ambiance de folie.</li>
            <li>Distribuer des kits ou des rafraîchissements.</li>
            <li>Partager des moments uniques avec l'équipe et les coureurs.</li>
          </ul>
          <p>
            En échange, <em>vous vivrez une expérience enrichissante</em> et
            recevrez un kit souvenir pour votre engagement. Merci de votre aide
            précieuse !
          </p>
          <a
            class="sign-up-btn bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
            >Rejoindre l'équipe bénévole</a
          >
        </div>
        <img
          alt=""
          class="rounded-sm shadow w-[500px] max-lg:w-[400px]"
          src="../../content/pictures/picture-7.webp"
        />
      </section>
    </main>

    <footer class="flex flex-col items-center py-10">
      <div
        class="flex items-center justify-between w-full max-sm:flex-col-reverse"
      >
        <div class="flex flex-col gap-2">
          <a href="./index.html"
            ><img
              alt="Logo de l'application Rumton"
              class="w-[100px] max-lg:w-[90px]"
              src="../../content/logos/logo.svg"
          /></a>
          <p>2025 © Rumton</p>
        </div>
        <div class="flex gap-8 items-center max-sm:flex-col">
          <div class="flex flex-col gap-4">
            <nav>
              <ul class="flex flex-col gap-2">
                <li><a class="link" href="#">À propos</a></li>
                <li><a class="link" href="#">FAQ</a></li>
                <li><a class="link" href="#">Nous contacter</a></li>
                <li><a class="link" href="#">Mentions légales</a></li>
              </ul>
            </nav>
            <div class="flex gap-2">
              <a href="https://www.instagram.com/">
                <img
                  alt="Logo de l'application Instagram"
                  class="size-[25px] max-lg:size-[20px]"
                  src="../../content/logos/instagram-logo.svg"
                />
              </a>
              <a href="https://x.com/">
                <img
                  alt="Logo de l'application X"
                  class="size-[25px] max-lg:size-[20px]"
                  src="../../content/logos/x-logo.svg"
                />
              </a>
              <a href="https://www.facebook.com/?locale=fr_FR">
                <img
                  alt="Logo de l'application Facebook"
                  class="size-[25px] max-lg:size-[20px]"
                  src="../../content/logos/facebook-logo.svg"
                />
              </a>
              <a href="https://www.youtube.com/">
                <img
                  alt="Logo de l'application YouTube"
                  class="size-[25px] max-lg:size-[20px]"
                  src="../../content/logos/youtube-logo.svg"
                />
              </a>
            </div>
          </div>
          <form
            action="#"
            class="flex flex-col gap-2 w-sm max-lg:w-xs"
            method="post"
          >
            <label for="email"
              >Inscrivez-vous à notre newsletter pour recevoir les dernières
              actualités et offres exclusives</label
            >
            <div class="flex flex-col gap-2">
              <input
                class="focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                name="email"
                placeholder="john.doe@example.com"
                type="email"
              />
              <input
                class="bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
                type="submit"
                value="S'inscrire"
              />
            </div>
          </form>
        </div>
      </div>
    </footer>
    <script src="../../js/main.js"></script>
  </body>
</html>
