<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rumton - Mes participations</title>
    <link href="../../dist/output.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />
  </head>

  <body
    class="flex flex-col min-h-screen m-auto outfit-body text-(--color-secondary) w-(--size-1440)"
  >
    <header class="flex items-center justify-between py-4">
      <a href="./index.html">
        <img
          alt="Logo de l'application Rumton"
          class="w-[100px]"
          src="../../content/logos/logo.svg"
        />
      </a>
      <nav class="flex items-center">
        <ul class="flex gap-4">
          <li><a class="link" href="./index.html">Accueil</a></li>
          <li><a class="link" href="./runs.html">Toutes les courses</a></li>
          <li>
            <a class="link" href="./profile.html#host">Devenir organisateur</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="flex flex-1 gap-6">
      <nav
        class="bg-(--color-quaternary) flex flex-col h-[400px] justify-between px-8 py-12 rounded-sm shadow"
      >
        <ul class="flex flex-col gap-8">
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mon tableau de bord'"
              class="size-[20px]"
              src="../../content/icons/board-icon.svg"
            />
            <a class="link text-lg" href="./dashboard.html"
              >Mon tableau de bord</a
            >
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mes participations'"
              class="size-[20px]"
              src="../../content/icons/runner-icon.svg"
            />
            <a class="link text-lg" href="./my-participations.html"
              >Mes participations</a
            >
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mes courses'"
              class="size-[20px]"
              src="../../content/icons/flag-icon.svg"
            />
            <a class="link text-lg" href="../specific/host/host-my-runs.html"
              >Mes courses</a
            >
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mes informations'"
              class="size-[20px]"
              src="../../content/icons/user-icon.svg"
            />
            <a class="link text-lg" href="./profile.html">Mes informations</a>
          </li>
        </ul>
        <ul>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Se déconnecter'"
              class="size-[20px]"
              src="../../content/icons/logout-icon.svg"
            />
            <a class="link text-lg" href="#">Me déconnecter</a>
          </li>
        </ul>
      </nav>
      <div class="flex flex-1 flex-col gap-6">
        <section
          class="bg-(--color-quaternary) flex flex-col gap-8 justify-between p-12 rounded-sm shadow"
        >
          <div class="flex justify-between">
            <h2 class="outfit-header text-(--color-primary) text-xl">
              Mes participations
            </h2>
            <div class="flex gap-4">
              <div class="flex items-center gap-2 relative">
                <img
                  alt="Icône du bouton 'Trier'"
                  class="size-[20px]"
                  src="../../content/icons/sort-icon.svg"
                />
                <button
                  aria-expanded="true"
                  aria-haspopup="true"
                  class="text-(--color-primary)"
                  id="toggleBtn"
                >
                  Trier
                </button>
                <!-- <div
                class="absolute right-9 z-10 mt-2 top-9 divide-y divide-gray-100 origin-top-right rounded-sm bg-(color--) text-(--color-secondary) shadow-lg ring-1 ring-black/5 focus:outline-hidden"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="menu-button"
                tabindex="-1"
                id="dropdown"
              >
                <div class="py-1" role="none">
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                    >Date</a
                  >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-1"
                    >Distance</a
                  >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-2"
                    >Ville</a
                  >
                  <form method="POST" action="#" role="none">
                    <button
                      type="submit"
                      class="block w-full px-4 py-2 text-left text-sm"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-3"
                    >
                      Sign out
                    </button>
                  </form>
                </div>
              </div> -->
              </div>
              <div class="flex gap-2 items-center">
                <img
                  alt="Icône du bouton 'Filtrer'"
                  class="size-[20px]"
                  src="../../content/icons/filter-icon.svg"
                />
                <button
                  aria-expanded="true"
                  aria-haspopup="true"
                  class="text-(--color-primary)"
                  id="toggleBtn"
                >
                  Filtrer
                </button>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-center justify-center gap-4">
            <p>Aucune participation en cours.</p>
            <a
              class="flex font-medium items-center link text-(--color-primary) w-fit"
              href="./runs.html"
              >Participer à une course<img
                alt="Icône du bouton 'Participer à une course'"
                class="size-[20px]"
                src="../../content/icons/arrow-icon.svg"
            /></a>
          </div>
          <div class="flex flex-col items-center justify-center gap-8">
            <div class="flex flex-wrap justify-between w-full">
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <div class="flex relative">
                  <img
                    alt="Plan de la course"
                    class="outline-2 outline-(--color-quinary) rounded-sm size-[200px]"
                    src="../../content/pictures/exemple-carte.webp"
                  />
                  <img
                    alt="Icône du bouton 'J'aime'"
                    class="absolute right-3 size-[35px] top-2"
                    src="../../content/icons/heart-empty-icon.svg"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-(--color-secondary) text-xl uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer class="flex flex-col items-center py-10">
      <div class="flex items-center justify-between w-full">
        <div class="flex flex-col gap-2">
          <a href="./index.html"
            ><img
              alt="Logo de l'application Rumton"
              class="w-[100px]"
              src="../../content/logos/logo.svg"
          /></a>
          <p>2025 © Rumton</p>
        </div>
        <div class="flex flex-col gap-4">
          <nav>
            <ul class="flex flex-col gap-2">
              <li>
                <a class="link" href="./index.html">Accueil</a>
              </li>
              <li>
                <a class="link" href="./runs.html">Toutes les courses</a>
              </li>
              <li>
                <a class="link" href="./profile.html#host"
                  >Devenir organisateur</a
                >
              </li>
            </ul>
          </nav>
          <div class="flex gap-2">
            <a href="https://www.instagram.com/">
              <img
                alt="Logo de l'application Instagram"
                class="size-[25px]"
                src="../../content/logos/instagram-logo.svg"
              />
            </a>
            <a href="https://x.com/">
              <img
                alt="Logo de l'application X"
                class="size-[25px]"
                src="../../content/logos/x-logo.svg"
              />
            </a>
            <a href="https://www.facebook.com/?locale=fr_FR">
              <img
                alt="Logo de l'application Facebook"
                class="size-[25px]"
                src="../../content/logos/facebook-logo.svg"
              />
            </a>
            <a href="https://www.youtube.com/">
              <img
                alt="Logo de l'application YouTube"
                class="size-[25px]"
                src="../../content/logos/youtube-logo.svg"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- <style>
      .show {
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
        transition: opacity 100ms ease-out, transform 100ms ease-out;
      }

      .hide {
        opacity: 0;
        transform: scale(0.95);
        pointer-events: none;
        transition: opacity 75ms ease-in, transform 75ms ease-in;
      }
    </style>

    <script>
      const dropdown = document.getElementById("dropdown");
      const toggleBtn = document.getElementById("toggleBtn");
      let isOpen = false;

      toggleBtn.addEventListener("click", () => {
        isOpen = !isOpen;

        if (isOpen) {
          dropdown.classList.remove("hide");
          dropdown.classList.add("show");
        } else {
          dropdown.classList.remove("show");
          dropdown.classList.add("hide");
        }
      });
    </script> -->
    <script src="../../js/main.js"></script>
  </body>
</html>
