<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rumton - Mes informations</title>
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../dist/output.css" rel="stylesheet" />
  </head>

  <body
    class="flex flex-col m-auto min-h-screen outfit-body text-(--color-secondary) w-(--size-1440)"
  >
    <header class="flex items-center justify-between py-4">
      <a href="./index.html">
        <img
          alt="Logo de l'application Rumton"
          class="w-[100px]"
          src="../../content/logos/logo.svg"
        />
      </a>
      <nav class="flex items-center">
        <ul class="flex gap-4">
          <li><a class="link" href="./index.html">Accueil</a></li>
          <li><a class="link" href="./runs.html">Toutes les courses</a></li>
          <li>
            <a class="link" href="./profile.html#host">Devenir organisateur</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="flex flex-1 gap-6">
      <div class="flex flex-col gap-4">
        <nav
          class="bg-(--color-quaternary) flex flex-col h-[400px] justify-between px-8 py-12 rounded-sm shadow"
        >
          <ul class="flex flex-col gap-8">
            <li class="flex items-center gap-2 text-(--color-secondary)">
              <img
                alt="Icône de la section 'Mon tableau de bord'"
                class="size-[20px]"
                src="../../content/icons/board-icon.svg"
              />
              <a class="link text-lg" href="./dashboard.html"
                >Mon tableau de bord</a
              >
            </li>
            <li class="flex items-center gap-2 text-(--color-secondary)">
              <img
                alt="Icône de la section 'Mes participations'"
                class="size-[20px]"
                src="../../content/icons/runner-icon.svg"
              />
              <a class="link text-lg" href="./my-participations.html"
                >Mes participations</a
              >
            </li>
            <li class="flex items-center gap-2 text-(--color-secondary)">
              <img
                alt="Icône de la section 'Mes courses'"
                class="size-[20px]"
                src="../../content/icons/flag-icon.svg"
              />
              <a class="link text-lg" href="../specific/host/host-my-runs.html"
                >Mes courses</a
              >
            </li>
            <li class="flex items-center gap-2 text-(--color-secondary)">
              <img
                alt="Icône de la section 'Mes informations'"
                class="size-[20px]"
                src="../../content/icons/user-icon.svg"
              />
              <a class="link text-lg" href="./profile.html">Mes informations</a>
            </li>
          </ul>
          <ul>
            <li class="flex items-center gap-2 text-(--color-secondary)">
              <img
                alt="Icône de la section 'Se déconnecter'"
                class="size-[20px]"
                src="../../content/icons/logout-icon.svg"
              />
              <a class="link text-lg" href="#">Me déconnecter</a>
            </li>
          </ul>
        </nav>
        <nav
          class="bg-(--color-quaternary) flex flex-col h-[400px] justify-between px-8 py-12 rounded-sm shadow"
        >
          <ul class="flex flex-col gap-8">
            <li class="flex items-center gap-2 text-(--color-secondary)">
              <img
                alt="Icône de la section 'Mon tableau de bord'"
                class="size-[20px]"
                src="../../content/icons/board-icon.svg"
              />
              <a
                class="link text-lg"
                href="../specific/administrator/administrator-dashboard.html"
                >Mon tableau de bord</a
              >
            </li>
            <li class="flex items-center gap-2 text-(--color-secondary)">
              <img
                alt="Icône de la section 'Utilisateurs'"
                class="size-[20px]"
                src="../../content/icons/users-icon.svg"
              />
              <a
                class="link text-lg"
                href="../specific/administrator/administrator-users.html"
                >Utilisateurs</a
              >
            </li>
            <li class="flex items-center gap-2 text-(--color-secondary)">
              <img
                alt="Icône de la section 'Courses'"
                class="size-[20px]"
                src="../../content/icons/flag-icon.svg"
              />
              <a class="link text-lg" href="./runs.html">Courses</a>
            </li>
            <li class="flex items-center gap-2 text-(--color-secondary)">
              <img
                alt="Icône de la section 'Mes informations'"
                class="size-[20px]"
                src="../../content/icons/user-icon.svg"
              />
              <a class="link text-lg" href="./profile.html">Mes informations</a>
            </li>
          </ul>
          <ul>
            <li class="flex items-center gap-2 text-(--color-secondary)">
              <img
                alt="Icône de la section 'Se déconnecter'"
                class="size-[20px]"
                src="../../content/icons/logout-icon.svg"
              />
              <a class="link text-lg" href="#">Me déconnecter</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="flex flex-1 flex-col gap-6">
        <div class="flex gap-6">
          <section
            class="bg-(--color-quaternary) flex flex-col gap-6 p-12 rounded-sm shadow"
          >
            <h2 class="outfit-header text-(--color-primary) text-xl">
              Mes informations
            </h2>
            <form action="" class="flex flex-col gap-6" method="post">
              <div class="flex gap-10">
                <div class="flex flex-col gap-4 w-[325px]">
                  <div class="flex flex-col gap-2">
                    <label for="nickname">Pseudonyme</label>
                    <input
                      class="bg-(--color-senary) rounded-sm p-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                      id="nickname"
                      name="nickname"
                      type="text"
                      value="john00"
                    />
                  </div>
                  <div class="flex flex-col gap-2">
                    <label for="firstname">Prénom</label>
                    <input
                      class="bg-(--color-senary) rounded-sm p-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                      id="firstname"
                      name="firstname"
                      type="text"
                      value="John"
                    />
                  </div>
                  <div class="flex flex-col gap-2">
                    <label for="lastname">Nom de famille</label>
                    <input
                      class="bg-(--color-senary) rounded-sm p-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                      id="lastname"
                      name="lastname"
                      type="text"
                      value="Doe"
                    />
                  </div>
                  <div class="flex flex-col gap-2">
                    <label for="sex">Sexe</label>
                    <select
                      class="bg-(--color-senary) rounded-sm p-2 outline-1 outline-(--color-quinary) focus:outline-2 focus:outline-(--color-primary)"
                      id="sex"
                      name="sex"
                    >
                      <option disabled>Sélectionner une valeur</option>
                      <option selected value="1">Homme</option>
                      <option value="2">Femme</option>
                      <option value="3">Autre</option>
                    </select>
                  </div>
                  <div class="flex flex-col gap-2">
                    <label for="birthdate">Date de naissance</label>
                    <input
                      class="bg-(--color-senary) rounded-sm p-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                      id="birthdate"
                      name="birthdate"
                      type="date"
                      value="2000-06-20"
                    />
                  </div>
                  <div class="flex flex-col gap-2">
                    <label for="zip">Code postal</label>
                    <input
                      class="bg-(--color-senary) rounded-sm p-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                      id="zip"
                      name="zip"
                      type="number"
                      value="69007"
                    />
                  </div>
                  <div class="flex flex-col gap-2">
                    <label for="email">E-mail</label>
                    <input
                      class="bg-(--color-senary) rounded-sm p-2 outline-1 outline-(--color-quinary)/50 focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                      disabled
                      id="email"
                      name="email"
                      type="email"
                      value="john.doe@example.com"
                    />
                  </div>

                  <div class="flex flex-col gap-2">
                    <label for="role">Rôle</label>
                    <input
                      class="bg-(--color-senary) rounded-sm p-2 outline-1 outline-(--color-quinary)/50 focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                      disabled
                      id="role"
                      name="role"
                      type="text"
                      value="Organisateur"
                    />
                  </div>
                  <input
                    class="border-1 cursor-pointer hide rounded-sm border-[#ffffff] bg-(--color-primary) px-3 py-2 text-[#ffffff] hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) w-fit"
                    id="send"
                    name="send"
                    type="submit"
                    value="Valider"
                  />
                  <div>
                    <button
                      class="border-1 cursor-pointer rounded-sm border-[#ffffff] bg-(--color-primary) px-3 py-2 text-[#ffffff] hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) w-fit"
                    >
                      Valider
                    </button>
                    <button
                      class="border-1 cursor-pointer rounded-sm border-[#ffffff] bg-(--color-secondary) px-3 py-2 text-[#ffffff] hover:border-1 hover:border-(--color-secondary) hover:bg-transparent hover:text-(--color-secondary) w-fit"
                    >
                      Annuler
                    </button>
                  </div>
                </div>
                <div class="flex flex-col gap-2">
                  <label for="profile-picture">Photo de profil</label>
                  <img
                    alt="Photo de profil"
                    class="rounded-sm size-[125px]"
                    src="../../content/pictures/picture-5.webp"
                  />
                  <input
                    accept="image/png, image/jpeg"
                    class="bg-(--color-senary) rounded-sm w-[125px] px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                    disabled
                    id="profile-picture"
                    name="profile-picture"
                    type="file"
                  />
                </div>
              </div>
            </form>
          </section>
          <div class="flex flex-col gap-6">
            <section
              class="bg-(--color-quaternary) flex flex-col gap-6 p-12 rounded-sm shadow w-fit"
            >
              <h2 class="outfit-header text-(--color-primary) text-xl">
                Changer mon mot de passe
              </h2>
              <form
                action=""
                class="flex flex-col gap-6 w-[325px]"
                method="post"
              >
                <div class="flex flex-col gap-4">
                  <div class="flex flex-col gap-2">
                    <label for="password">Mot de passe</label>
                    <input
                      class="bg-(--color-senary) rounded-sm p-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                      id="password"
                      name="password"
                      type="password"
                      value=""
                    />
                  </div>
                  <div class="flex flex-col gap-2">
                    <label for="password-check"
                      >Confirmation du mot de passe</label
                    >
                    <input
                      class="bg-(--color-senary) rounded-sm p-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                      id="password-check"
                      name="password-check"
                      type="password"
                      value=""
                    />
                  </div>
                  <input
                    class="border-1 cursor-pointer hide rounded-sm border-[#ffffff] bg-(--color-primary) px-3 py-2 text-[#ffffff] hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) w-fit"
                    id="send"
                    name="send"
                    type="submit"
                    value="Valider"
                  />
                  <div>
                    <button
                      class="border-1 cursor-pointer rounded-sm border-[#ffffff] bg-(--color-primary) px-3 py-2 text-[#ffffff] hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) w-fit"
                    >
                      Valider
                    </button>
                    <button
                      class="border-1 cursor-pointer rounded-sm border-[#ffffff] bg-(--color-secondary) px-3 py-2 text-[#ffffff] hover:border-1 hover:border-(--color-secondary) hover:bg-transparent hover:text-(--color-secondary) w-fit"
                    >
                      Annuler
                    </button>
                  </div>
                </div>
              </form>
            </section>
            <section
              class="bg-(--color-quaternary) flex flex-col gap-6 p-12 rounded-sm shadow w-fit"
              id="host"
            >
              <div class="flex flex-col flex-wrap">
                <h2 class="outfit-header text-(--color-primary) text-xl">
                  Devenir organisateur
                </h2>
                <p class="text-(--color-secondary) text-sm">
                  Organisez des courses et soutenez les associations !
                </p>
              </div>
              <form action="" class="flex flex-col gap-4">
                <textarea
                  class="bg-(--color-senary) h-[200px] rounded-sm w-[325px] py-2 px-4 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary) resize-none"
                  id="message"
                  name="message"
                  placeholder="Pour quelle(s) raison(s) souhaitez-vous devenir organisateur ?"
                ></textarea>
                <input
                  class="border-1 cursor-pointer rounded-sm border-[#ffffff] bg-(--color-primary) px-3 py-2 text-[#ffffff] hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) w-fit"
                  id="send"
                  name="send"
                  type="submit"
                  value="Envoyer"
                />
              </form>
            </section>
          </div>
        </div>
      </div>
    </main>

    <footer class="flex flex-col items-center py-10">
      <div class="flex w-full items-center justify-between">
        <div class="flex flex-col gap-2">
          <a href="./index.html"
            ><img
              alt="Logo de l'application Rumton"
              class="w-[100px]"
              src="../../content/logos/logo.svg"
          /></a>
          <p>2025 © Rumton</p>
        </div>
        <div class="flex flex-col gap-4">
          <nav>
            <ul class="flex flex-col gap-2">
              <li>
                <a class="link" href="./index.html">Accueil</a>
              </li>
              <li>
                <a class="link" href="./runs.html">Toutes les courses</a>
              </li>
              <li>
                <a class="link" href="./profile.html#host"
                  >Devenir organisateur</a
                >
              </li>
            </ul>
          </nav>
          <div class="flex gap-2">
            <a href="https://www.instagram.com/">
              <img
                alt="Logo de l'application Instagram"
                class="size-[25px]"
                src="../../content/logos/instagram-logo.svg"
              />
            </a>
            <a href="https://x.com/">
              <img
                alt="Logo de l'application X"
                class="size-[25px]"
                src="../../content/logos/x-logo.svg"
              />
            </a>
            <a href="https://www.facebook.com/?locale=fr_FR">
              <img
                alt="Logo de l'application Facebook"
                class="size-[25px]"
                src="../../content/logos/facebook-logo.svg"
              />
            </a>
            <a href="https://www.youtube.com/">
              <img
                alt="Logo de l'application YouTube"
                class="size-[25px]"
                src="../../content/logos/youtube-logo.svg"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../../js/main.js"></script>
  </body>
</html>
