<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rumton - Organiser une course</title>
    <link href="../../../dist/output.css" rel="stylesheet" />
    <link href="../../../css/main.css" rel="stylesheet" />
  </head>

  <body
    class="flex flex-col min-h-screen m-auto outfit-body text-(--color-secondary) w-(--size-1440)"
  >
    <header class="flex items-center justify-between py-4">
      <a href="../../general/index.html">
        <img
          alt="Logo de l'application Rumton"
          class="w-[100px]"
          src="../../../content/logos/logo.svg"
        />
      </a>
      <nav class="flex items-center">
        <ul class="flex gap-4">
          <li><a class="link" href="../../general/index.html">Accueil</a></li>
          <li>
            <a class="link" href="../../general/runs.html"
              >Toutes les courses</a
            >
          </li>
          <li>
            <a class="link" href="../../general/profile.html#host"
              >Devenir organisateur</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main class="flex flex-1 gap-6">
      <nav
        class="bg-(--color-quaternary) flex h-[400px] justify-between px-8 py-12 rounded-sm shadow flex-col"
      >
        <ul class="flex flex-col gap-8">
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mon tableau de bord'"
              class="size-[20px]"
              src="../../../content/icons/board-icon.svg"
            />
            <a class="link text-lg" href="../../general/dashboard.html"
              >Mon tableau de bord</a
            >
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mes participations'"
              class="size-[20px]"
              src="../../../content/icons/runner-icon.svg"
            />
            <a class="link text-lg" href="../../general/my-participations.html"
              >Mes participations</a
            >
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mes courses'"
              class="size-[20px]"
              src="../../../content/icons/flag-icon.svg"
            />
            <a class="link text-lg" href="./host-my-runs.html">Mes courses</a>
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mes informations'"
              class="size-[20px]"
              src="../../../content/icons/user-icon.svg"
            />
            <a class="link text-lg" href="../../general/profile.html"
              >Mes informations</a
            >
          </li>
        </ul>
        <ul>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Se déconnecter'"
              class="size-[20px]"
              src="../../../content/icons/logout-icon.svg"
            />
            <a class="link text-lg" href="#">Me déconnecter</a>
          </li>
        </ul>
      </nav>
      <div class="flex flex-1 flex-col gap-6">
        <section
          class="bg-(--color-quaternary) flex flex-col gap-6 rounded-sm p-12 shadow w-fit"
        >
          <a
            class="flex font-medium items-center link text-(--color-primary) w-fit"
            href="../general/dashboard.html"
            ><img
              alt="Icône du bouton 'Retour'"
              class="rotate-180 size-[20px]"
              src="../../../content/icons/arrow-icon.svg"
            />Retour</a
          >
          <h2 class="outfit-header text-(--color-primary) text-xl">
            Organiser une course
          </h2>
          <form action="" class="flex flex-col gap-6" method="post">
            <div class="flex flex-col gap-2">
              <label for="title">Titre*</label>
              <input
                class="bg-(--color-senary) focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="title"
                name="title"
                placeholder="Titre"
                required
                type="text"
              />
            </div>

            <div class="flex flex-col gap-2">
              <label for="description">Description*</label>
              <textarea
                class="bg-(--color-senary) focus-visible:outline-2 focus-visible:outline-(--color-primary) h-[219px] outline-1 outline-(--color-quinary) px-4 py-2 resize-none rounded-sm w-[350px]"
                id="description"
                name="description"
                placeholder="Écrire une description..."
                required
              ></textarea>
            </div>
            <div class="flex flex-col gap-2">
              <label for="city">Ville*</label>
              <input
                class="bg-(--color-senary) focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="city"
                name="city"
                placeholder="Ville"
                required
                type="text"
              />
            </div>

            <div class="flex flex-col gap-2">
              <label for="datetime">Date et heure*</label>
              <input
                class="bg-(--color-senary) focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="datetime"
                name="datetime"
                required
                type="datetime-local"
              />
            </div>

            <label
              class="cursor-pointer inline-flex items-center w-fit"
              for="obstacles"
            >
              <span class="pr-2">Obstacles*</span>
              <input
                class="peer sr-only"
                id="obstacles"
                name="obstacles"
                type="checkbox"
                value=""
              />
              <div
                class="after:content-[''] after:absolute after:bg-(--color-senary) after:border-2 after:border-(--color-senary) after:h-5 after:rounded-full after:top-[2px] after:start-[2px] after:w-5 after:transition-all bg-(--color-secondary) h-6 peer-checked:bg-(--color-primary) peer-checked:after:translate-x-full peer-checked:after:border-(--color-senary) relative rounded-full w-11 rtl:peer-checked:after:-translate-x-full"
              ></div>
            </label>

            <div class="flex flex-col gap-2">
              <label for="price">Prix (en euros)*</label>
              <input
                class="bg-(--color-senary) focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="price"
                name="price"
                placeholder="Prix"
                required
                type="number"
              />
            </div>

            <div class="flex flex-col gap-2">
              <label for="organism">Organisme*</label>
              <input
                class="bg-(--color-senary) focus-visible:outline-2 focus-visible:outline-(--color-primary) outline-1 outline-(--color-quinary) p-2 rounded-sm"
                id="organism"
                name="organism"
                placeholder="Organisme"
                required
                type="text"
              />
            </div>

            <input
              class="bg-(--color-primary) border-1 border-[#ffffff] cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
              id="send"
              name="send"
              type="submit"
              value="Valider"
            />
          </form>
        </section>
      </div>
    </main>

    <footer class="flex flex-col items-center py-10">
      <div class="flex items-center justify-between w-full">
        <div class="flex flex-col gap-2">
          <a href="./index.html"
            ><img
              alt="Logo de l'application Rumton"
              class="w-[100px]"
              src="../../../content/logos/logo.svg"
          /></a>
          <p>2025 © Rumton</p>
        </div>
        <div class="flex flex-col gap-4">
          <nav>
            <ul class="flex flex-col gap-2">
              <li>
                <a class="link" href="../../general/index.html">Accueil</a>
              </li>
              <li>
                <a class="link" href="../../general/runs.html"
                  >Toutes les courses</a
                >
              </li>
              <li>
                <a class="link" href="../../general/profile.html#host"
                  >Devenir organisateur</a
                >
              </li>
            </ul>
          </nav>
          <div class="flex gap-2">
            <a href="https://www.instagram.com/">
              <img
                alt="Logo de l'application Instagram"
                class="size-[25px]"
                src="../../../content/logos/instagram-logo.svg"
              />
            </a>
            <a href="https://x.com/">
              <img
                alt="Logo de l'application X"
                class="size-[25px]"
                src="../../../content/logos/x-logo.svg"
              />
            </a>
            <a href="https://www.facebook.com/?locale=fr_FR">
              <img
                alt="Logo de l'application Facebook"
                class="size-[25px]"
                src="../../../content/logos/facebook-logo.svg"
              />
            </a>
            <a href="https://www.youtube.com/">
              <img
                alt="Logo de l'application YouTube"
                class="size-[25px]"
                src="../../../content/logos/youtube-logo.svg"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../../js/main.js"></script>
  </body>
</html>