<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rumton - Tous les utilisateurs</title>
    <link href="../../../dist/output.css" rel="stylesheet" />
    <link href="../../../css/main.css" rel="stylesheet" />
  </head>

  <body
    class="flex flex-col min-h-screen m-auto outfit-body text-(--color-secondary) max-w-(--size-1440) max-lg:text-sm px-4"
  >
    <header class="flex items-center justify-between py-4">
      <a href="../../general/index.html">
        <img
          alt="Logo de l'application Rumton"
          class="w-[100px] max-lg:w-[90px]"
          src="../../../content/logos/logo.svg"
        />
      </a>
      <nav class="flex items-center">
        <ul class="flex gap-4 web-navbar">
          <li><a class="link" href="../../general/index.html">Accueil</a></li>
        </ul>
        <div class="hidden mobile-navbar">
          <div class="dropdown inline-block relative">
            <button id="dropdown-btn"
              class="py-4 px-6 inline-flex items-center w-fit font-medium text-(--color-primary)"
            > 
              Menu
              <img
                alt="Icône du bouton 'Retour'"
                class="size-[20px] rotate-90"
                src="../../../content/icons/arrow-icon.svg"
              />
            </button>
            <ul
              class="dropdown-menu absolute pt-1 right-0 bg-(--color-senary) rounded-sm shadow-sm hide" id="dropdown-content"
            >
              <li>
                <a
                  class="rounded-t hover:bg-gray-100 py-4 px-6 block text-nowrap"
                  href="../../general/index.html"
                  >Accueil</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex flex-1 gap-6 max-sm:flex-col">
      <nav
        class="bg-(--color-quaternary) flex flex-col h-[400px] justify-between px-8 py-12 rounded-sm shadow"
      >
        <ul class="flex flex-col gap-8">
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mon tableau de bord'"
              class="size-[20px] max-lg:size-[15px]"
              src="../../../content/icons/board-icon.svg"
            />
            <a class="link text-lg max-lg:text-base" href="./administrator-dashboard.html"
              >Mon tableau de bord</a
            >
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Utilisateurs'"
              class="size-[20px] max-lg:size-[15px]"
              src="../../../content/icons/users-icon.svg"
            />
            <a class="link text-lg max-lg:text-base" href="./administrator-users.html"
              >Utilisateurs</a
            >
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Courses'"
              class="size-[20px] max-lg:size-[15px]"
              src="../../../content/icons/flag-icon.svg"
            />
            <a class="link text-lg max-lg:text-base" href="../../general/runs.html">Courses</a>
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mes informations'"
              class="size-[20px] max-lg:size-[15px]"
              src="../../../content/icons/user-icon.svg"
            />
            <a class="link text-lg max-lg:text-base" href="../../general/profile.html"
              >Mes informations</a
            >
          </li>
        </ul>
        <ul>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Se déconnecter'"
              class="size-[20px] max-lg:size-[15px]"
              src="../../../content/icons/logout-icon.svg"
            />
            <a class="link text-lg max-lg:text-base" href="#">Me déconnecter</a>
          </li>
        </ul>
      </nav>
      <div class="flex flex-1 flex-col gap-6 h-fit">
        <section
          class="bg-(--color-quaternary) flex flex-1 flex-col gap-8 p-12 rounded-sm shadow"
        >
          <h2 class="outfit-header text-(--color-primary) text-xl max-lg:text-lg">
            Toutes les utilisateurs
          </h2>
          <div class="flex flex-col items-center justify-center gap-4">
            <p>Aucun résultat.</p>
          </div>
          <div class="flex flex-col items-center justify-center gap-8">
            <table class="bg-(--color-senary) table-auto w-full max-lg:text-xs">
              <thead>
                <tr>
                  <th
                    class="border-2 border-(--color-quinary) font-semibold p-4"
                  >
                    Pseudo
                  </th>
                  <th
                    class="border-2 border-(--color-quinary) font-semibold p-4 hidden-email"
                  >
                    Email
                  </th>
                  <th
                    class="border-2 border-(--color-quinary) font-semibold p-4"
                  >
                    Rôle
                  </th>
                  <th
                    class="border-2 border-(--color-quinary) font-semibold p-4"
                  >
                    Action
                  </th>
                </tr>
              </thead>
              <tbody
                class="border-b-2 border-(--color-quinary) text-center items-container"
              >
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    LunaSky
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    luna.sky@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Administrateur
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    DarkWolf
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    dark.wolf@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Participant
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Echo33
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    echo33@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Participant
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    PixieDust
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    pixie.d@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Participant
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    NeoByte
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    neo.byte@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Participant
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    QueenBee
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    queen.bee@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Organisateur
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    IronFist
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    iron.f@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Participant
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    StellaNova
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    stella.n@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Organisateur
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    ByteMaster
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    byte.master@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Organisateur
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    ShadowCat
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    shadow.cat@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Participant
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    FireFox
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    fire.fox@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Participant
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    CrystalCode
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    crystal.code@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Organisateur
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    AlphaTech
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    alpha.tech@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Administrateur
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    MoonBlade
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    moon.blade@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Participant
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    NovaSpark
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    nova.spark@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Organisateur
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    CodeNinja
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    code.ninja@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Participant
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    ZenMaster
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    zen.master@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Organisateur
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    BlazeStorm
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    blaze.storm@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Participant
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    CyberQueen
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    cyber.queen@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Administrateur
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
                <tr class="item">
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    PhantomByte
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4 hidden-email">
                    phantom.byte@example.com
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    Organisateur
                  </td>
                  <td class="border-x-2 border-(--color-quinary) p-4">
                    <a
                      class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      href="../administrator/administrator-update-user.html"
                    >
                      Consulter
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pagination flex items-center font-medium">
              <button onclick="changePage(currentPage - 1)">
                <img
                  alt="Icône du bouton 'En savoir plus'"
                  class="cursor-pointer rotate-180 size-[25px] max-lg:size-[20px]"
                  src="../../../content/icons/arrow-icon.svg"
                />
              </button>
              <span class="text-lg px-2" id="page-number"></span>
              <button onclick="changePage(currentPage + 1)">
                <img
                  alt="Icône du bouton 'En savoir plus'"
                  class="cursor-pointer size-[25px] max-lg:size-[20px]"
                  src="../../../content/icons/arrow-icon.svg"
                />
              </button>
            </div>
          </div>
          <button
            class="bg-(--color-primary) border-1 border-(--color-senary) cursor-pointer hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) px-3 py-2 rounded-sm text-(--color-senary) w-fit"
          >
            <a href="./administrator-create-user.html">Ajouter</a>
          </button>
        </section>
      </div>
    </main>

    <footer class="flex flex-col items-center py-10">
      <div class="flex w-full items-center justify-between">
        <div class="flex flex-col gap-2">
          <a href="../../general/index.html"
            ><img
              alt="Logo de l'application Rumton"
              class="w-[100px] max-lg:w-[90px]"
              src="../../../content/logos/logo.svg"
          /></a>
          <p>2025 © Rumton</p>
        </div>
        <div class="flex flex-col gap-4">
          <nav>
            <ul class="flex flex-col gap-2">
              <li>
                <a class="link" href="../../general/index.html">Accueil</a>
              </li>
            </ul>
          </nav>
          <div class="flex gap-2">
            <a href="https://www.instagram.com/">
              <img
                alt="Logo de l'application Instagram"
                class="size-[25px] max-lg:size-[20px]"
                src="../../../content/logos/instagram-logo.svg"
              />
            </a>
            <a href="https://x.com/">
              <img
                alt="Logo de l'application X"
                class="size-[25px] max-lg:size-[20px]"
                src="../../../content/logos/x-logo.svg"
              />
            </a>
            <a href="https://www.facebook.com/?locale=fr_FR">
              <img
                alt="Logo de l'application Facebook"
                class="size-[25px] max-lg:size-[20px]"
                src="../../../content/logos/facebook-logo.svg"
              />
            </a>
            <a href="https://www.youtube.com/">
              <img
                alt="Logo de l'application YouTube"
                class="size-[25px] max-lg:size-[20px]"
                src="../../../content/logos/youtube-logo.svg"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../../../js/main.js"></script>
  </body>
</html>