<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rumton - Mon tableau de bord</title>
    <link href="../../../dist/output.css" rel="stylesheet" />
    <link href="../../../css/main.css" rel="stylesheet" />
  </head>

  <body
    class="flex flex-col min-h-screen m-auto outfit-body text-(--color-secondary) w-(--size-1440)"
  >
    <header class="flex items-center justify-between py-4">
      <a href="../../general/index.html">
        <img
          alt="Logo de l'application Rumton"
          class="w-[100px]"
          src="../../../content/logos/logo.svg"
        />
      </a>
      <nav class="flex items-center">
        <ul class="flex gap-4">
          <li><a class="link" href="../../general/index.html">Accueil</a></li>
        </ul>
      </nav>
    </header>

    <main class="flex flex-1 gap-6">
      <nav
        class="bg-(--color-quaternary) flex flex-col h-[400px] justify-between px-8 py-12 rounded-sm shadow"
      >
        <ul class="flex flex-col gap-8">
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mon tableau de bord'"
              class="size-[20px]"
              src="../../../content/icons/board-icon.svg"
            />
            <a class="link text-lg" href="./administrator-dashboard.html"
              >Mon tableau de bord</a
            >
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Utilisateurs'"
              class="size-[20px]"
              src="../../../content/icons/users-icon.svg"
            />
            <a class="link text-lg" href="./administrator-users.html"
              >Utilisateurs</a
            >
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Courses'"
              class="size-[20px]"
              src="../../../content/icons/flag-icon.svg"
            />
            <a class="link text-lg" href="../../general/runs.html">Courses</a>
          </li>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Mes informations'"
              class="size-[20px]"
              src="../../../content/icons/user-icon.svg"
            />
            <a class="link text-lg" href="../../general/profile.html"
              >Mes informations</a
            >
          </li>
        </ul>
        <ul>
          <li class="flex items-center gap-2 text-(--color-secondary)">
            <img
              alt="Icône de la section 'Se déconnecter'"
              class="size-[20px]"
              src="../../../content/icons/logout-icon.svg"
            />
            <a class="link text-lg" href="#">Me déconnecter</a>
          </li>
        </ul>
      </nav>
      <div class="flex flex-1 flex-col gap-6">
        <div class="flex flex-col gap-6">
          <section
            class="bg-(--color-quaternary) flex flex-1 flex-col gap-8 h-fit p-12 rounded-sm shadow"
          >
            <h2 class="outfit-header text-xl text-(--color-primary)">
              Les dernières demandes Organisateur
            </h2>
            <div class="flex flex-col items-center justify-center gap-4">
              <p>Aucune demande Organisateur en attente.</p>
            </div>
            <div class="flex flex-wrap gap-2">
              <div
                class="bg-(--color-senary) border-2 border-(--color-quinary) flex flex-col gap-3 p-2 rounded-sm w-fit"
              >
                <div class="flex gap-4">
                  <ul>
                    <li class="flex items-center gap-2">
                      <img
                        src="../../../content/pictures/picture-5.webp"
                        alt="Photo de profil"
                        class="rounded-[50%] size-[50px]"
                      />DarkWolf
                    </li>
                  </ul>
                  <ul class="flex gap-1 items-center">
                    <li>
                      <button
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      >
                        Valider
                      </button>
                    </li>
                    <li>
                      <button
                        class="border-1 border-[#ffffff] bg-(--color-secondary) cursor-pointer hover:border-1 hover:border-(--color-secondary) hover:bg-transparent hover:text-(--color-secondary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      >
                        Refuser
                      </button>
                    </li>
                  </ul>
                </div>
                <ul class="h-[100px] overflow-auto p-t-4 px-2 w-[300px]">
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates cupiditate voluptatum impedit, quisquam natus
                    nobis possimus? Mollitia ullam laudantium, sunt alias
                    aliquid itaque aspernatur eum iure soluta provident, ipsam
                    voluptatibus?
                  </li>
                </ul>
              </div>
              <div
                class="bg-(--color-senary) border-2 border-(--color-quinary) flex flex-col gap-3 p-2 rounded-sm w-fit"
              >
                <div class="flex gap-4">
                  <ul>
                    <li class="flex items-center gap-2">
                      <img
                        src="../../../content/pictures/picture-5.webp"
                        alt="Photo de profil"
                        class="rounded-[50%] size-[50px]"
                      />LunaSky
                    </li>
                  </ul>
                  <ul class="flex gap-1 items-center">
                    <li>
                      <button
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      >
                        Valider
                      </button>
                    </li>
                    <li>
                      <button
                        class="border-1 border-[#ffffff] bg-(--color-secondary) cursor-pointer hover:border-1 hover:border-(--color-secondary) hover:bg-transparent hover:text-(--color-secondary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      >
                        Refuser
                      </button>
                    </li>
                  </ul>
                </div>
                <ul class="h-[100px] overflow-auto p-t-4 px-2 w-[300px]">
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates cupiditate voluptatum impedit, quisquam natus
                    nobis possimus? Mollitia ullam laudantium, sunt alias
                    aliquid itaque aspernatur eum iure soluta provident, ipsam
                    voluptatibus?
                  </li>
                </ul>
              </div>
              <div
                class="bg-(--color-senary) border-2 border-(--color-quinary) flex flex-col gap-3 p-2 rounded-sm w-fit"
              >
                <div class="flex gap-4">
                  <ul>
                    <li class="flex items-center gap-2">
                      <img
                        src="../../../content/pictures/picture-5.webp"
                        alt="Photo de profil"
                        class="rounded-[50%] size-[50px]"
                      />ByteMaster
                    </li>
                  </ul>
                  <ul class="flex gap-1 items-center">
                    <li>
                      <button
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      >
                        Valider
                      </button>
                    </li>
                    <li>
                      <button
                        class="border-1 border-[#ffffff] bg-(--color-secondary) cursor-pointer hover:border-1 hover:border-(--color-secondary) hover:bg-transparent hover:text-(--color-secondary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      >
                        Refuser
                      </button>
                    </li>
                  </ul>
                </div>
                <ul class="h-[100px] overflow-auto p-t-4 px-2 w-[300px]">
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates cupiditate voluptatum impedit, quisquam natus
                    nobis possimus? Mollitia ullam laudantium, sunt alias
                    aliquid itaque aspernatur eum iure soluta provident, ipsam
                    voluptatibus?
                  </li>
                </ul>
              </div>
              <div
                class="bg-(--color-senary) border-2 border-(--color-quinary) flex flex-col gap-3 p-2 rounded-sm w-fit"
              >
                <div class="flex gap-4">
                  <ul>
                    <li class="flex items-center gap-2">
                      <img
                        src="../../../content/pictures/picture-5.webp"
                        alt="Photo de profil"
                        class="rounded-[50%] size-[50px]"
                      />ShadowCat
                    </li>
                  </ul>
                  <ul class="flex gap-1 items-center">
                    <li>
                      <button
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      >
                        Valider
                      </button>
                    </li>
                    <li>
                      <button
                        class="border-1 border-[#ffffff] bg-(--color-secondary) cursor-pointer hover:border-1 hover:border-(--color-secondary) hover:bg-transparent hover:text-(--color-secondary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      >
                        Refuser
                      </button>
                    </li>
                  </ul>
                </div>
                <ul class="h-[100px] overflow-auto p-t-4 px-2 w-[300px]">
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates cupiditate voluptatum impedit.
                  </li>
                </ul>
              </div>
              <div
                class="bg-(--color-senary) border-2 border-(--color-quinary) flex flex-col gap-3 p-2 rounded-sm w-fit"
              >
                <div class="flex gap-4">
                  <ul>
                    <li class="flex items-center gap-2">
                      <img
                        src="../../../content/pictures/picture-5.webp"
                        alt="Photo de profil"
                        class="rounded-[50%] size-[50px]"
                      />StellaNova
                    </li>
                  </ul>
                  <ul class="flex gap-1 items-center">
                    <li>
                      <button
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      >
                        Valider
                      </button>
                    </li>
                    <li>
                      <button
                        class="border-1 border-[#ffffff] bg-(--color-secondary) cursor-pointer hover:border-1 hover:border-(--color-secondary) hover:bg-transparent hover:text-(--color-secondary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                      >
                        Refuser
                      </button>
                    </li>
                  </ul>
                </div>
                <ul class="h-[100px] overflow-auto p-t-4 px-2 w-[300px]">
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section
            class="bg-(--color-quaternary) flex flex-1 flex-col gap-8 h-fit p-12 rounded-sm shadow"
          >
            <h2 class="outfit-header text-xl text-(--color-primary)">
              Les derniers utilisateurs enregistrés
            </h2>
            <div class="flex flex-col items-center justify-center gap-4">
              <p>Aucun utilisateur enregistré récemment.</p>
              <a
                class="flex font-medium items-center link text-(--color-primary) w-fit"
                href="./administrator-users.html"
                >Consulter tous les utilisateurs<img
                  alt="Icône du bouton 'Consulter tous les utilisateurs'"
                  class="size-[20px]"
                  src="../../../content/icons/arrow-icon.svg"
              /></a>
            </div>
            <div class="flex justify-center gap-8">
              <table class="bg-(--color-senary) table-auto w-full">
                <thead>
                  <tr>
                    <th
                      class="border-2 border-(--color-quinary) font-semibold p-4"
                    >
                      Pseudo
                    </th>
                    <th
                      class="border-2 border-(--color-quinary) font-semibold p-4"
                    >
                      Email
                    </th>
                    <th
                      class="border-2 border-(--color-quinary) font-semibold p-4"
                    >
                      Rôle
                    </th>
                    <th
                      class="border-2 border-(--color-quinary) font-semibold p-4"
                    >
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody class="border-b-2 border-(--color-quinary) text-center">
                  <tr>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      LunaSky
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      luna.sky@example.com
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Administrateur
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      <a
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                        href="./administrator-user.html"
                      >
                        Consulter
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      DarkWolf
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      dark.wolf@example.com
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Participant
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      <a
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                        href="./administrator-user.html"
                      >
                        Consulter
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Echo33
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      echo33@example.com
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Participant
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      <a
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                        href="./administrator-user.html"
                      >
                        Consulter
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      PixieDust
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      pixie.d@example.com
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Participant
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      <a
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                        href="./administrator-user.html"
                      >
                        Consulter
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      NeoByte
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      neo.byte@example.com
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Participant
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      <a
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                        href="./administrator-user.html"
                      >
                        Consulter
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      QueenBee
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      queen.bee@example.com
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Organisateur
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      <a
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                        href="./administrator-user.html"
                      >
                        Consulter
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      IronFist
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      iron.f@example.com
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Participant
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      <a
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                        href="./administrator-user.html"
                      >
                        Consulter
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      StellaNova
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      stella.n@example.com
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Organisateur
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      <a
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                        href="./administrator-user.html"
                      >
                        Consulter
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      ByteMaster
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      byte.master@example.com
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Organisateur
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      <a
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                        href="./administrator-user.html"
                      >
                        Consulter
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      ShadowCat
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      shadow.cat@example.com
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      Participant
                    </td>
                    <td class="border-x-2 border-(--color-quinary) p-4">
                      <a
                        class="border-1 border-[#ffffff] bg-(--color-primary) cursor-pointer hover:border-1 hover:border-(--color-primary) hover:bg-transparent hover:text-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] w-fit"
                        href="./administrator-user.html"
                      >
                        Consulter
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a
              class="flex font-medium items-center link text-(--color-primary) w-fit"
              href="./administrator-users.html"
              >Consulter tous les utilisateurs<img
                alt="Icône du bouton 'Consulter tous les utilisateurs'"
                class="size-[20px]"
                src="../../../content/icons/arrow-icon.svg"
            /></a>
          </section>
        </div>
        <section
          class="bg-(--color-quaternary) flex flex-col gap-8 justify-between p-12 rounded-sm shadow"
        >
          <h2 class="outfit-header text-xl text-(--color-primary)">
            Les dernières courses publiées
          </h2>
          <!-- <div class="flex flex-col items-center justify-center gap-4">
            <!-- <p>Aucune course publiée récemment.</p>
            <a
              class="flex font-medium items-center link text-(--color-primary) w-fit"
              href="../general/runs.html"
              >Consulter toutes les courses<img
                alt="Icône du bouton 'Consulter toutes les courses'"
                class="size-[20px]"
                src="../../../../content/icons/arrow-icon.svg"
            /></a>
          </div> -->
          <div class="flex flex-col items-center justify-center gap-8">
            <div class="flex w-full justify-between">
              <div class="flex flex-col gap-2 p-4">
                <img
                  alt="Plan de la course"
                  class="rounded-sm size-[200px] outline-2 outline-(--color-quinary)"
                  src="../../../content/pictures/exemple-carte.webp"
                />
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-xl text-(--color-secondary) uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <img
                  alt="Plan de la course"
                  class="rounded-sm size-[200px] outline-2 outline-(--color-quinary)"
                  src="../../../content/pictures/exemple-carte.webp"
                />
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-xl text-(--color-secondary) uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <img
                  alt="Plan de la course"
                  class="rounded-sm size-[200px] outline-2 outline-(--color-quinary)"
                  src="../../../content/pictures/exemple-carte.webp"
                />
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-xl text-(--color-secondary) uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="flex flex-col gap-2 p-4">
                <img
                  alt="Plan de la course"
                  class="rounded-sm size-[200px] outline-2 outline-(--color-quinary)"
                  src="../../../content/pictures/exemple-carte.webp"
                />
                <div class="flex flex-col gap-2">
                  <h3
                    class="font-bold text-xl text-(--color-secondary) uppercase"
                  >
                    Run in Lyon
                  </h3>
                  <ul class="flex flex-col gap-1">
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Date'"
                        class="size-[20px]"
                        src="../../../content/icons/calendar-icon.svg"
                      />18 août 2025
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Lieu'"
                        class="size-[20px]"
                        src="../../../content/icons/location-icon.svg"
                      />Lyon, France
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Distance'"
                        class="size-[20px]"
                        src="../../../content/icons/distance-icon.svg"
                      />35.7 km
                    </li>
                    <li
                      class="flex items-center gap-2 text-(--color-secondary)"
                    >
                      <img
                        alt="Icône du champ 'Organisme'"
                        class="size-[20px]"
                        src="../../../content/icons/organism-icon.svg"
                      />Médecins sans frontières
                    </li>
                    <li>
                      <a
                        class="flex font-medium items-center link text-(--color-primary) w-fit"
                        href=""
                        >En savoir plus<img
                          alt="Icône du bouton 'En savoir plus'"
                          class="size-[20px]"
                          src="../../../content/icons/arrow-icon.svg"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <a
            class="flex font-medium items-center link text-(--color-primary) w-fit"
            href="../general/runs.html"
            >Consulter toutes les courses<img
              alt="Icône du bouton 'Consulter toutes les courses'"
              class="size-[20px]"
              src="../../../content/icons/arrow-icon.svg"
          /></a>
        </section>
      </div>
    </main>

    <footer class="flex flex-col items-center py-10">
      <div class="flex w-full items-center justify-between">
        <div class="flex flex-col gap-2">
          <a href="../../general/index.html"
            ><img
              alt="Logo de l'application Rumton"
              class="w-[100px]"
              src="../../../content/logos/logo.svg"
          /></a>
          <p>2025 © Rumton</p>
        </div>
        <div class="flex flex-col gap-4">
          <nav>
            <ul class="flex flex-col gap-2">
              <li>
                <a class="link" href="../../general/index.html">Accueil</a>
              </li>
            </ul>
          </nav>
          <div class="flex gap-2">
            <a href="https://www.instagram.com/">
              <img
                alt="Logo de l'application Instagram"
                class="size-[25px]"
                src="../../../content/logos/instagram-logo.svg"
              />
            </a>
            <a href="https://x.com/">
              <img
                alt="Logo de l'application X"
                class="size-[25px]"
                src="../../../content/logos/x-logo.svg"
              />
            </a>
            <a href="https://www.facebook.com/?locale=fr_FR">
              <img
                alt="Logo de l'application Facebook"
                class="size-[25px]"
                src="../../../content/logos/facebook-logo.svg"
              />
            </a>
            <a href="https://www.youtube.com/">
              <img
                alt="Logo de l'application YouTube"
                class="size-[25px]"
                src="../../../content/logos/youtube-logo.svg"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../../js/main.js"></script>
  </body>
</html>
