<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumton - Mes informations</title>
    <link href="../../../dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/main.css">
</head>

<body class="outfit-body w-(--size-1440) m-auto flex flex-col min-h-screen text-(--color-secondary)">
    <header class="flex justify-between items-center py-4">
        <a href="../../../views/index.html"><img src="../../../content/logo.svg" alt="Logo de l'application Rumton"
                class="w-[100px]"></a>
        <nav class="flex items-center">
            <ul class="flex gap-8">
                <li><a href="../../../views/index.html" class="link">Accueil</a></li>
                <li><a href="" class="link">Toutes les courses</a></li>
            </ul>
        </nav>
    </header>

    <main class="flex-1">
        <div class="flex gap-6">
            <nav class="flex justify-center h-[400px] rounded-sm px-8 py-12 bg-(--color-quaternary) shadow">
                <ul class="flex flex-col justify-between">
                    <div class="flex flex-col gap-8">
                        <li class="flex items-center gap-2 text-(--color-secondary)"><img
                                src="../../../content/board-icon.svg" alt="" class="size-[20px]"><a
                                href="./dashboard-host.html" class="link text-lg">Mon tableau de
                                bord</a></li>
                        <li class="flex items-center gap-2 text-(--color-secondary)"><img
                                src="../../../content/runner-icon.svg" alt="" class="size-[20px]"><a
                                href="./runs-host.html" class="link text-lg">Mes participations</a></li>
                        <li class="flex items-center gap-2 text-(--color-secondary)"><img
                                src="../../../content/flag-icon.svg" alt="" class="size-[20px]"><a
                                href="./my-runs-host.html" class="link text-lg">Mes courses</a></li>
                        <li class="flex items-center gap-2 text-(--color-secondary)"><img
                                src="../../../content/user-icon.svg" alt="" class="size-[20px]"><a
                                href="./profile-host.html" class="link text-lg">Mes informations</a></li>
                    </div>
                    <li class="flex items-center gap-2 text-(--color-secondary)"><img
                            src="../../../content/logout-icon.svg" alt="" class="size-[20px]"><a href=""
                            class="link text-lg">Se déconnecter</a></li>
                </ul>
            </nav>

            <div class="flex flex-col gap-6">
                <div class="flex gap-6">
                    <section class="flex flex-col rounded-sm p-12 gap-8 bg-(--color-quaternary) w-fit h-fit shadow">
                        <h2 class="outfit-header text-xl text-(--color-primary)">Mes informations</h2>
                        <div>
                            <form action="" class="flex gap-8">
                                <div class="flex flex-col gap-4">
                                    <div class="flex flex-col gap-2">
                                        <label for="nickname">Pseudonyme</label>
                                        <input type="text" name="nickname" id="nickname" value="john00"
                                            class="bg-white w-[350px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                                            disabled>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label for="firstname">Prénom</label>
                                        <input type="text" name="firstname" id="firstname" value="John"
                                            class="bg-white w-[350px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                                            disabled>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label for="lastname">Nom</label>
                                        <input type="text" name="lastname" id="lastname" value="Doe"
                                            class="bg-white w-[350px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                                            disabled>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label for="sex">Sexe</label>
                                        <select name="sex" id="sex"
                                            class="bg-white w-[350px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                                            disabled>
                                            <option disabled selected>Sélectionner une valeur</option>
                                            <option value="1">Homme</option>
                                            <option value="2">Femme</option>
                                            <option value="3">Autre</option>
                                        </select>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label for="birthdate">Date de naissance</label>
                                        <input type="date" name="birthdate" id="birthdate" value="2000-06-20"
                                            class="bg-white w-[350px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                                            disabled>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label for="city">Ville de résidence</label>
                                        <input type="text" name="city" id="city" value="Lyon"
                                            class="bg-white w-[350px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                                            disabled>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label for="email">E-mail</label>
                                        <input type="email" name="email" id="email" value="john.doe@example.com"
                                            class="bg-white w-[350px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                                            disabled>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label for="role">Rôle</label>
                                        <input type="text" name="role" id="role" value="Organisateur"
                                            class="bg-white w-[350px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                                            disabled>
                                    </div>
                                    <input type="submit" name="send" id="send" value="Envoyer"
                                        class="w-fit bg-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] cursor-pointer border-1 border-[#ffffff] hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) hide">
                                    <button
                                        class="w-fit bg-(--color-primary) px-6 py-2 rounded-sm text-[#ffffff] cursor-pointer border-1 border-[#ffffff] hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary)">Éditer</button>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label for="profile-picture">Photo de profil</label>
                                    <img src="../../../content/picture-5.jpg" alt="" class="size-[150px] rounded-sm">
                                    <input type="file" id="profile-picture" name="profile-picture"
                                        accept="image/png, image/jpeg"
                                        class="bg-white w-[200px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary) hide"
                                        disabled />
                                </div>
                            </form>
                        </div>
                    </section>
                    <section class="flex flex-col rounded-sm p-12 gap-8 bg-(--color-quaternary) w-fit h-fit shadow">
                        <h2 class="outfit-header text-xl text-(--color-primary)">Changer mon mot de passe</h2>
                        <div>
                            <form action="" class="flex flex-col gap-8">
                                <div class="flex flex-col gap-2">
                                    <label for="password">Mot de passe</label>
                                    <input type="password" name="password" id="password" value=""
                                        class="bg-white w-[350px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                                        disabled>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label for="password-check">Confirmation du mot de passe</label>
                                    <input type="password" name="password-check" id="password-check" value=""
                                        class="bg-white w-[350px] rounded-sm px-4 py-2 outline-1 outline-(--color-quinary) focus-visible:outline-2 focus-visible:outline-(--color-primary)"
                                        disabled>
                                </div>
                                <input type="submit" name="send" id="send" value="Envoyer"
                                    class="w-fit bg-(--color-primary) px-3 py-2 rounded-sm text-[#ffffff] cursor-pointer border-1 border-[#ffffff] hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary) hide">
                                <button
                                    class="w-fit bg-(--color-primary) px-6 py-2 rounded-sm text-[#ffffff] cursor-pointer border-1 border-[#ffffff] hover:bg-transparent hover:border-1 hover:border-(--color-primary) hover:text-(--color-primary)">Éditer</button>
                            </form>
                        </div>
                    </section>
                </div>
    </main>

    <footer class="flex flex-col items-center py-8">
        <div class="w-full flex justify-between items-center">
            <img src="../../../content/logo.svg" alt="" class="w-[100px]">
            <div class="flex gap-8">
                <nav>
                    <ul class="flex flex-col gap-2">
                        <li><a href="../../../views/index.html" class="link">Accueil</a></li>
                        <li><a href="" class="link">Toutes les courses</a></li>
                    </ul>
                </nav>
                <div class="flex flex-col gap-2">
                    <a href=""><img src="../../../content/instagram-logo.svg" alt="" class="size-[25px]"></a>
                    <a href=""><img src="../../../content/x-logo.svg" alt="" class="size-[25px]"></a>
                    <a href=""><img src="../../../content/facebook-logo.svg" alt="" class="size-[25px]"></a>
                    <a href=""><img src="../../../content/youtube-logo.svg" alt="" class="size-[25px]"></a>
                </div>
            </div>
        </div>
        <p>2025 © Color Run. Tous droits réservés.</p>
    </footer>
    <script src="../js/main.js"></script>
</body>

</html>